# Creating our HH!
## Step 1: Data üóÉÔ∏è!
We are going to split this step into multiple sub-steps üìÑ:
1. ‚õèÔ∏è**Web Scraping**.
3. üêº**Data Transformation**L.
4. üßπ**Data cleansing**.
5. üì§**Export the Data**.
---

# ü§î Pre-coding
Lets define and importa some useful stuff before we start coding

In [1]:
# Important imports
import requests as req # Library for HTTP requests (allows you to send HTTP requests etremely easily): https://pypi.org/project/requests/
from bs4 import BeautifulSoup # Python Library for pulling data out of HTML files (or in this case, web page): https://www.crummy.com/software/BeautifulSoup/bs4/doc/
import pandas as pd # For Data Analysis and Manipulation in Python: https://pandas.pydata.org/
import numpy as np # For matricial and array operations
import unicodedata # For normalizing in function below

In [2]:
# Normalize text function
def normalize_text(word):
    """
    This function takes a string 'word' and normalized
    Example: hElL√≥ w√ìrlD = HELLO WORLD
    """
    word = str(word) # Making sure this is a string
    upper_word = word.upper() # Only upper case letters
    striped_word = upper_word.strip() # No spaces at the beginning or end of the word
    # No accents -> https://docs.python.org/3/library/unicodedata.html#unicodedata.normalize
    normalized_word = ''.join([
        letter for letter in unicodedata.normalize('NFD', striped_word)
        if unicodedata.category(letter) != 'Mn'
    ])

    return normalized_word

# ‚õèÔ∏èWeb Scraping 16/12/2022
Is the process of extracting data from a web page, in this case we are going to use my [college page](http://www.dci.ugto.mx/estudiantes/index.php/mcursos/horarios-licenciatura) ü§ó

In [3]:
# Request to the page function
def request_url(url):
    res = req.get(url)
    if res.status_code not in range(200, 300):
        raise Exception("Something wen wrong", res.tatus_code)
    else:
        print(res.status_code, "- Everythin is fine üî•")
    return res

In [4]:
# Check our request function
url = 'http://www.dci.ugto.mx/estudiantes/index.php/mcursos/horarios-licenciatura'
res = request_url(url)
content = res.content
print(content[:15])

200 - Everythin is fine üî•
b'<!DOCTYPE html>'

In [5]:
# We need a beautiful soup object, not html in a string
soup = BeautifulSoup(content, 'html.parser')
# The schedules are in a table, lets bring it (its in the second one)
all_tables = soup.find_all('table')
schedule_table = all_tables[0] # üëà THIS IS OUR TABLE
#schedule_table

# üêº**Data Transformation**: We need to transform to pandas objects to make the cleaning

In [6]:
# We need to check how many columns are there in http://www.dci.ugto.mx/estudiantes/index.php/mcursos/horarios-licenciatura
# So we need each data component in the first row
column_row = schedule_table.find_all('tr')[0] # 1st row
# Every data component
td_with_column_names = column_row.find_all('td')
# Lets have a look to this column names
for td in td_with_column_names:
    print(td.text.replace('\n', ''), end = " | ")
print()
# I am going to change every column name to a better-shorter-normalized column name
column_names = ['index_in_page', 'NAME', 'GROUP', 'DAY/TIME/ROOM1', 'DAY/TIME/ROOM2', 'DAY/TIME/ROOM3', 'DAY/TIME/ROOM4', 'PROFESSORS'] # üëà THIS IS OUR COLUMN NAMES LIST
for name in column_names:
    print(name, end = ' | ')
    
# Just comparing the number of columns so there is no error
assert len(column_names) == len(td_with_column_names), "Don't have the same lenght! CORRECT IT!"

# | UNIDAD DE APRENDIZAJE¬† | GRUPO | D√çA/HORA/AULA | D√çA/HORA/AULA | D√çA/HORA/AULA | D√çA/HORA/AULA | PROFESOR |
index_in_page | NAME | GROUP | DAY/TIME/ROOM1 | DAY/TIME/ROOM2 | DAY/TIME/ROOM3 | DAY/TIME/ROOM4 | PROFESSORS |

In [7]:
# Now we need to get the actual data IN THE ROWS
all_rows = schedule_table.find_all('tr')
schedules = []
for row in all_rows[1:]: # Starts in 1 because the 0th is the row with the column names
    tds = row.find_all('td') # Need the data of each row
    # We are going to create a dictionary for each row
    d_row = {}
    for index, column in enumerate(column_names):
        d_row[column] = tds[index].text # {column: tds[index]}
        
    # And we need to add it to the schedules list
    schedules.append(d_row)
schedules[23] # üëà OUR SCHEDULES IN A PSEUDO-JSON FORMAT

{'index_in_page': '24',
 'NAME': 'BIOF√çSICA M√âDICA',
 'GROUP': 'A',
 'DAY/TIME/ROOM1': 'MARTES/10-12/C2',
 'DAY/TIME/ROOM2': 'MI√âRCOLES/10-12/C2',
 'DAY/TIME/ROOM3': '\xa0',
 'DAY/TIME/ROOM4': '\xa0',
 'PROFESSORS': 'MODESTO ANTONIO SOSA AQUINO/V√çCTOR HUGO HERN√ÅNDEZ GONZ√ÅLEZ'}

In [8]:
# And now we can create a pandas data frame
raw_schedules_df = pd.DataFrame(schedules, columns = column_names)
# I need to save this file 
raw_schedules_df.to_csv('../data/raw_schedules.csv', index=False)
raw_schedules_df.head(3)

,index_in_page,NAME,GROUP,DAY/TIME/ROOM1,DAY/TIME/ROOM2,DAY/TIME/ROOM3,DAY/TIME/ROOM4,PROFESSORS
0,1,ADMINISTRACI√ìN Y MANEJO DE PERSONAL,A,S√ÅBADO/9-13/F6,,,,
1,2,ALEM√ÅN I,A,S√ÅBADO/8-11/F7,,,,MA. ISABEL DELGADILLO CANO
2,3,ALGEBRA LINEAL,A,LUNES/8-10/AUDITORIO EDIF. G,MI√âRCOLES/8-10/AUDITORIO EDIF. G,,,MIGUEL √ÅNGEL VALLEJO HERN√ÅNDEZ

# üßπ**Data cleansing**: Lets clean the data and correct some errors
I am gonna list every error and thing as a sub-title in the following cells

**Note:** There are some times that the school gives me the schedules in an excel, so there is no need to scrap the data from the web page, so here I am going to bring that file

In [9]:
# Reading csv document (This covers the case where school gives me an excel file before they update their page)
raw_schedules_og_df = pd.read_csv('../data/raw_schedules.csv')
raw_schedules_og_df.head(10)

,index_in_page,NAME,GROUP,DAY/TIME/ROOM1,DAY/TIME/ROOM2,DAY/TIME/ROOM3,DAY/TIME/ROOM4,PROFESSORS
0,1,ADMINISTRACI√ìN Y MANEJO DE PERSONAL,A,S√ÅBADO/9-13/F6,,,,
1,2,ALEM√ÅN I,A,S√ÅBADO/8-11/F7,,,,MA. ISABEL DELGADILLO CANO
2,3,ALGEBRA LINEAL,A,LUNES/8-10/AUDITORIO EDIF. G,MI√âRCOLES/8-10/AUDITORIO EDIF. G,,,MIGUEL √ÅNGEL VALLEJO HERN√ÅNDEZ
3,4,√ÅLGEBRA LINEAL,B,MARTES/8-10/F1,JUEVES/8-10/F1,,,TEODORO C√ìRDOVA FRAGA
4,5,√ÅLGEBRA LINEAL,C,MARTES/10-12/F1,JUEVES/10-12/F1,,,OCTAVIO JOS√â OBREG√ìN D√çAZ
5,6,√ÅLGEBRA LINEAL,D,MI√âRCOLES/12-14/F1,VIERNES/12-14/F1,,,ERASTO ORTIZ RICARDO
6,7,√ÅLGEBRA LINEAL,E,LUNES/15-17/G1,MI√âRCOLES/15-17/G1,,,JOS√â DE JES√öS BERNAL ALVARADO
7,8,AN√ÅLISIS DE CIRCUITOS,A,MARTES/8-10/LAB. DE ELECTR√ìNICA EDIF. G,JUEVES/8-12/LAB. DE ELECTR√ìNICA EDIF. G,,,CARLOS VILLASE√ëOR MORA
8,9,AN√ÅLISIS DE CIRCUITOS,B,LUNES/12-16/LAB. DE ELECTR√ìNICA EDIF.G,MI√âRCOLES/8-10/LAB. DE ELECTR√ìNICA EDIF. G,,,JOS√â MARCO BALLEZA ORDAZ
9,10,AN√ÅLISIS DE LA CULTURA MEXICANA,A,LUNES/16-19/AUDITORIO DEL EDIF. G,,,,FERNANDO AGUAS √ÅNGEL

In [10]:
# Change the columns again because of the case they give me an excel file, remembering I need always this column names:
# index_in_page | NAME | GROUP | DAY/TIME/ROOM1 | DAY/TIME/ROOM2 | DAY/TIME/ROOM3 | DAY/TIME/ROOM4 | PROFESSORS |    

column_names = [
    "index_in_page", 
    "NAME", 
    "GROUP", 
    "DAY/TIME/ROOM1",
    "DAY/TIME/ROOM2",
    "DAY/TIME/ROOM3",
    "DAY/TIME/ROOM4",
    "PROFESSORS",
]

# Just comparing the number of columns so there is no error
assert len(column_names) == len(raw_schedules_og_df.columns), f"Don't have the same lenght!"

In [11]:
# Create the replace dictionary for the rename function for pandas
column_replace_dict = {og_col: new_col for og_col, new_col in zip(raw_schedules_og_df.columns, column_names)}
# Replace the column names
raw_schedules_df = raw_schedules_og_df.rename(columns = column_replace_dict)
raw_schedules_df.head(10)

,index_in_page,NAME,GROUP,DAY/TIME/ROOM1,DAY/TIME/ROOM2,DAY/TIME/ROOM3,DAY/TIME/ROOM4,PROFESSORS
0,1,ADMINISTRACI√ìN Y MANEJO DE PERSONAL,A,S√ÅBADO/9-13/F6,,,,
1,2,ALEM√ÅN I,A,S√ÅBADO/8-11/F7,,,,MA. ISABEL DELGADILLO CANO
2,3,ALGEBRA LINEAL,A,LUNES/8-10/AUDITORIO EDIF. G,MI√âRCOLES/8-10/AUDITORIO EDIF. G,,,MIGUEL √ÅNGEL VALLEJO HERN√ÅNDEZ
3,4,√ÅLGEBRA LINEAL,B,MARTES/8-10/F1,JUEVES/8-10/F1,,,TEODORO C√ìRDOVA FRAGA
4,5,√ÅLGEBRA LINEAL,C,MARTES/10-12/F1,JUEVES/10-12/F1,,,OCTAVIO JOS√â OBREG√ìN D√çAZ
5,6,√ÅLGEBRA LINEAL,D,MI√âRCOLES/12-14/F1,VIERNES/12-14/F1,,,ERASTO ORTIZ RICARDO
6,7,√ÅLGEBRA LINEAL,E,LUNES/15-17/G1,MI√âRCOLES/15-17/G1,,,JOS√â DE JES√öS BERNAL ALVARADO
7,8,AN√ÅLISIS DE CIRCUITOS,A,MARTES/8-10/LAB. DE ELECTR√ìNICA EDIF. G,JUEVES/8-12/LAB. DE ELECTR√ìNICA EDIF. G,,,CARLOS VILLASE√ëOR MORA
8,9,AN√ÅLISIS DE CIRCUITOS,B,LUNES/12-16/LAB. DE ELECTR√ìNICA EDIF.G,MI√âRCOLES/8-10/LAB. DE ELECTR√ìNICA EDIF. G,,,JOS√â MARCO BALLEZA ORDAZ
9,10,AN√ÅLISIS DE LA CULTURA MEXICANA,A,LUNES/16-19/AUDITORIO DEL EDIF. G,,,,FERNANDO AGUAS √ÅNGEL

## ‚ùå 1. Accents and upper letters
We need to normalize every field (we could do this before in the data extract part, but I think is better to separate things correctly)

In [12]:
# Function for normalizing the df with help of our function in ü§î Pre-coding part: "normalize_text"
def normalize_df(column):
    normalized_column = [] # A list for the normalized column
    for cell in column:
        normalized_column.append(normalize_text(cell))

    return normalized_column

In [13]:
normalized_data = raw_schedules_df.apply(normalize_df)
normalized_data.head(10) # üëà OUR DATA NORMALIZED

,index_in_page,NAME,GROUP,DAY/TIME/ROOM1,DAY/TIME/ROOM2,DAY/TIME/ROOM3,DAY/TIME/ROOM4,PROFESSORS
0,1,ADMINISTRACION Y MANEJO DE PERSONAL,A,SABADO/9-13/F6,,,,
1,2,ALEMAN I,A,SABADO/8-11/F7,,,,MA. ISABEL DELGADILLO CANO
2,3,ALGEBRA LINEAL,A,LUNES/8-10/AUDITORIO EDIF. G,MIERCOLES/8-10/AUDITORIO EDIF. G,,,MIGUEL ANGEL VALLEJO HERNANDEZ
3,4,ALGEBRA LINEAL,B,MARTES/8-10/F1,JUEVES/8-10/F1,,,TEODORO CORDOVA FRAGA
4,5,ALGEBRA LINEAL,C,MARTES/10-12/F1,JUEVES/10-12/F1,,,OCTAVIO JOSE OBREGON DIAZ
5,6,ALGEBRA LINEAL,D,MIERCOLES/12-14/F1,VIERNES/12-14/F1,,,ERASTO ORTIZ RICARDO
6,7,ALGEBRA LINEAL,E,LUNES/15-17/G1,MIERCOLES/15-17/G1,,,JOSE DE JESUS BERNAL ALVARADO
7,8,ANALISIS DE CIRCUITOS,A,MARTES/8-10/LAB. DE ELECTRONICA EDIF. G,JUEVES/8-12/LAB. DE ELECTRONICA EDIF. G,,,CARLOS VILLASENOR MORA
8,9,ANALISIS DE CIRCUITOS,B,LUNES/12-16/LAB. DE ELECTRONICA EDIF.G,MIERCOLES/8-10/LAB. DE ELECTRONICA EDIF. G,,,JOSE MARCO BALLEZA ORDAZ
9,10,ANALISIS DE LA CULTURA MEXICANA,A,LUNES/16-19/AUDITORIO DEL EDIF. G,,,,FERNANDO AGUAS ANGEL

## ‚ùå 2. Professors Together
There are some subject with more than 1 professor (because of labs or something else), so we need to generate a field for each professor. When this happens, every profressor is separated with a '/' character, so we can use that for creating the new fields

In [14]:
# Grab the professor list
professor_list = normalized_data['PROFESSORS'].to_list()
# Split all this professors in a matrix
professor_matrix = [professor.split('/') for professor in professor_list]
# We need to re-normalize this matrix because it can be there are some not-wanted spaces
for i in range(len(professor_matrix)):
    for j in range(len(professor_matrix[i])):
        professor_matrix[i][j] = normalize_text(professor_matrix[i][j])
# As an example, lets see some multiple professors
professor_matrix[20:22] # One subject with 1 professor and the next one with 3 professors

[['MODESTO ANTONIO SOSA AQUINO',
  'ARTURO GONZALEZ VEGA',
  'TEODORO CORDOVA FRAGA',
  'FRANCISCO MIGUEL VARGAS LUNA'],
 ['TEODORO CORDOVA FRAGA']]

In [15]:
# We need to know how many create so lets calculate it
max_professors = 0
for professors in professor_matrix:
    max_professors = max(len(professors), max_professors)
    
print("The max of professors per subject is:", max_professors)

The max of professors per subject is: 4

In [16]:
# And we need to add the missing columns as blank to professor matrix so its not sparse
for i in range(len(professor_matrix)):
    for missing in range(max_professors - len(professor_matrix[i])):
        professor_matrix[i].append('')
        
professor_matrix[20:22]

[['MODESTO ANTONIO SOSA AQUINO',
  'ARTURO GONZALEZ VEGA',
  'TEODORO CORDOVA FRAGA',
  'FRANCISCO MIGUEL VARGAS LUNA'],
 ['TEODORO CORDOVA FRAGA', '', '', '']]

In [17]:
# So new fields are:
professor_columns = [f"PROFESSOR{index + 1}" for index in range(max_professors)]
professor_columns

['PROFESSOR1', 'PROFESSOR2', 'PROFESSOR3', 'PROFESSOR4']

In [18]:
# Lets create this fields in our df
normalized_data[professor_columns] = professor_matrix

In [19]:
normalized_data[20:22] # Lets check some records in the df # üëà THIS IS OUR CORRECT DF FOR CLEANSING

,index_in_page,NAME,GROUP,DAY/TIME/ROOM1,DAY/TIME/ROOM2,DAY/TIME/ROOM3,DAY/TIME/ROOM4,PROFESSORS,PROFESSOR1,PROFESSOR2,PROFESSOR3,PROFESSOR4
20,21,BASES FISICAS PARA EL DIAGNOSTICO POR IMAGENES,A,MARTES/15-18/C2,VIERNES/12-15/C3,,,MODESTO ANTONIO SOSA AQUINO/ARTURO GONZALEZ VE...,MODESTO ANTONIO SOSA AQUINO,ARTURO GONZALEZ VEGA,TEODORO CORDOVA FRAGA,FRANCISCO MIGUEL VARGAS LUNA
21,22,BIOESTADISTICA,A,LUNES/8-10/F8,VIERNES/8-10/F2,,,TEODORO CORDOVA FRAGA,TEODORO CORDOVA FRAGA,,,

## ‚ùå 3. Empty cells
If there are empty fields (other than DAY/TIME/ROOM fields because empty cells in this fields is normal) then we need to fix it because that means something is wrong with the algorithm

In [20]:
# First of all, lets standard the spaces and blank spaces to np.nan objects
normalized_data = normalized_data.replace(r'^\s*$', np.nan, regex=True)
normalized_data = normalized_data.replace('NAN', np.nan)

In [21]:
normalized_data.head(3) # üëà STILL OUR DF

,index_in_page,NAME,GROUP,DAY/TIME/ROOM1,DAY/TIME/ROOM2,DAY/TIME/ROOM3,DAY/TIME/ROOM4,PROFESSORS,PROFESSOR1,PROFESSOR2,PROFESSOR3,PROFESSOR4
0,1,ADMINISTRACION Y MANEJO DE PERSONAL,A,SABADO/9-13/F6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,ALEMAN I,A,SABADO/8-11/F7,NaN,NaN,NaN,MA. ISABEL DELGADILLO CANO,MA. ISABEL DELGADILLO CANO,NaN,NaN,NaN
2,3,ALGEBRA LINEAL,A,LUNES/8-10/AUDITORIO EDIF. G,MIERCOLES/8-10/AUDITORIO EDIF. G,NaN,NaN,MIGUEL ANGEL VALLEJO HERNANDEZ,MIGUEL ANGEL VALLEJO HERNANDEZ,NaN,NaN,NaN

In [87]:
# Function to detect if there is an empty cell where it should not be.
def detect_empty_cells(df, columns):
    # Save indices in a list üëá
    empty_cells_index = []
    # Loop for know if it is empty
    for index in range(len(df)):
        for column in columns:
            # print(type(df.at[index, column]), df.at[index, column])
            if pd.isna(df.at[index, column]) or df.at[index, column] == 'NAN' or df.at[index, column] == '':
                empty_cells_index.append([index, column])
                
    return empty_cells_index

In [23]:
# Probemos esta funci√≥n
columns_to_check = ['NAME', 'GROUP', 'DAY/TIME/ROOM1', 'PROFESSORS', 'PROFESSOR1'] # We only care if these fields are empty becuase that means something is wrong
empty_rows = detect_empty_cells(normalized_data, columns_to_check)

assert not empty_rows, f"It shouldn't be an empty cell in here üëâ {empty_rows}!" # If there are empty rows we need to compare with the link http://www.dci.ugto.mx/estudiantes/index.php/mcursos/horarios-licenciatura
# If this empty data comes from the data source (the page or excel file) we cannot do anything to correct it, it is school obligation

AssertionError: It shouldn't be an empty cell in here üëâ [[0, 'PROFESSORS'], [0, 'PROFESSOR1'], [11, 'PROFESSORS'], [11, 'PROFESSOR1'], [12, 'PROFESSORS'], [12, 'PROFESSOR1'], [13, 'PROFESSORS'], [13, 'PROFESSOR1'], [32, 'PROFESSORS'], [32, 'PROFESSOR1'], [45, 'PROFESSORS'], [45, 'PROFESSOR1'], [46, 'PROFESSORS'], [46, 'PROFESSOR1'], [50, 'PROFESSORS'], [50, 'PROFESSOR1'], [90, 'PROFESSORS'], [90, 'PROFESSOR1'], [91, 'PROFESSORS'], [91, 'PROFESSOR1'], [92, 'PROFESSORS'], [92, 'PROFESSOR1'], [93, 'PROFESSORS'], [93, 'PROFESSOR1'], [95, 'PROFESSORS'], [95, 'PROFESSOR1'], [97, 'PROFESSORS'], [97, 'PROFESSOR1'], [98, 'PROFESSORS'], [98, 'PROFESSOR1'], [99, 'PROFESSORS'], [99, 'PROFESSOR1'], [106, 'DAY/TIME/ROOM1'], [106, 'PROFESSORS'], [106, 'PROFESSOR1'], [107, 'DAY/TIME/ROOM1'], [107, 'PROFESSORS'], [107, 'PROFESSOR1'], [109, 'PROFESSORS'], [109, 'PROFESSOR1'], [110, 'PROFESSORS'], [110, 'PROFESSOR1'], [112, 'PROFESSORS'], [112, 'PROFESSOR1'], [113, 'PROFESSORS'], [113, 'PROFESSOR1'], [115, 'PROFESSORS'], [115, 'PROFESSOR1'], [117, 'PROFESSORS'], [117, 'PROFESSOR1'], [123, 'PROFESSORS'], [123, 'PROFESSOR1'], [124, 'PROFESSORS'], [124, 'PROFESSOR1'], [137, 'PROFESSORS'], [137, 'PROFESSOR1'], [142, 'PROFESSORS'], [142, 'PROFESSOR1'], [143, 'PROFESSORS'], [143, 'PROFESSOR1'], [144, 'PROFESSORS'], [144, 'PROFESSOR1'], [145, 'PROFESSORS'], [145, 'PROFESSOR1'], [146, 'PROFESSORS'], [146, 'PROFESSOR1'], [148, 'PROFESSORS'], [148, 'PROFESSOR1'], [156, 'PROFESSORS'], [156, 'PROFESSOR1'], [173, 'PROFESSORS'], [173, 'PROFESSOR1'], [180, 'PROFESSORS'], [180, 'PROFESSOR1'], [181, 'PROFESSORS'], [181, 'PROFESSOR1']]!

In [29]:
# Only when we are sure all this records are empty because of the page (and not because of our fault) we can correct them put something like "PENDIENTE"
row = 0
while row < len(empty_rows):
    print(empty_rows[row][0] + 1, empty_rows[row][1])
    if empty_rows[row][1] == 'PROFESSORS':
        row += 1
    row += 1

1 PROFESSORS
12 PROFESSORS
13 PROFESSORS
14 PROFESSORS
33 PROFESSORS
46 PROFESSORS
47 PROFESSORS
51 PROFESSORS
91 PROFESSORS
92 PROFESSORS
93 PROFESSORS
94 PROFESSORS
96 PROFESSORS
98 PROFESSORS
99 PROFESSORS
100 PROFESSORS
107 DAY/TIME/ROOM1
107 PROFESSORS
108 DAY/TIME/ROOM1
108 PROFESSORS
110 PROFESSORS
111 PROFESSORS
113 PROFESSORS
114 PROFESSORS
116 PROFESSORS
118 PROFESSORS
124 PROFESSORS
125 PROFESSORS
138 PROFESSORS
143 PROFESSORS
144 PROFESSORS
145 PROFESSORS
146 PROFESSORS
147 PROFESSORS
149 PROFESSORS
157 PROFESSORS
174 PROFESSORS
181 PROFESSORS
182 PROFESSORS

In [30]:
for row in empty_rows:
    normalized_data.at[row[0], row[1]] = 'PENDIENTE'
    
empty_rows2 = detect_empty_cells(normalized_data, columns_to_check)

assert not empty_rows2, f"It shouldn't be an empty cell in here üëâ {empty_rows2}!" # If there are empty rows we need to compare with the link http://www.dci.ugto.mx/estudiantes/index.php/mcursos/horarios-licenciatura
# If this empty data comes from the data source (the page or excel file) we cannot do anything to correct it, it is school obligation

## ‚ùå 4. Errors in DAY/TIME/ROOM fields
We need to format this field form, I choose:

_day/start_hour-end_hour/room_

por ejemplo:

_LUNES/14-16/F9_

Lunes is Monday in Spanish and F9 is the class room name.
In the following code we are going to fix the schedules that do not comply with the format üëá.

In [60]:
# Function to detect a bad format in dates (date by date)
def detect_wrong_dates(date):
    # We're not checking NAN values
    if date == 'NAN' or pd.isna(date) or date == 'PENDIENTE':
        return False, None
    # Split for each "/" to obtain every DAY/TIME/ROOM
    date_split = date.split('/')

    # With this we can find 2 possible errors
    # 1. The date field does not have 3 "/"
    # 2. That, the start-end time does not have any "-" 

    # Detect the 1st
    if len(date_split) != 3:
        return True, 'Slash'

    # Detect the 2nd
    hours = date_split[1] # Porque queremos checar la hora
    if hours and len(hours.split('-')) != 2:
        return True, 'Hour'
        
        
    return False, None

In [61]:
# The above üëÜ function only works for one date, we need to create a function that runs that üëÜ function for all the df
def detect_wrong_dates_in_df(df, date_columns):
    # Iterating over rows
    for index, row in df.iterrows():
        for column in date_columns:
            detection = detect_wrong_dates(row[column])
            if detection[0]:
                print(f'{detection[1]} Error')
                print(f"Index={index}, #Pag={row['index_in_page']}, Column={column[-1]}")

In [62]:
# Test the function
date_columns = [f'DAY/TIME/ROOM{index+1}' for index in range(4)]
detect_wrong_dates_in_df(normalized_data, date_columns) # üò± Too many errors, there is no option but to fix these by hand ‚úã
print("------------------------------------------------------")

------------------------------------------------------

If we check out the page http://www.dci.ugto.mx/estudiantes/index.php/mcursos/horarios-licenciatura we can see that the errors are human errors and these errors are no predictable at all, so we need to fix these erros by hand ü•∂

### üí® Fix 10

In [37]:
# üëÄ what is happening?
normalized_data.at[10, 'DAY/TIME/ROOM1'] # It doesn't have a slash between the 14 and F2

'MARTES15-17/F8'

In [38]:
# Corrijamos
normalized_data.at[10, 'DAY/TIME/ROOM1'] = "MARTES/15-17/F8" # 'MARTES/15-17/F8'
normalized_data.at[10, 'DAY/TIME/ROOM1']

'MARTES/15-17/F8'

### üí® Fix 19

In [39]:
# üëÄ what is happening?
normalized_data.at[19, 'DAY/TIME/ROOM2']

'VIERNES/15-17F7'

In [40]:
normalized_data.at[19, 'DAY/TIME/ROOM2'] = "VIERNES/15-17/F7"
normalized_data.at[19, 'DAY/TIME/ROOM2']

'VIERNES/15-17/F7'

### üí® Fix 28

In [41]:
# üëÄ what is happening?
normalized_data.at[28, 'DAY/TIME/ROOM4']

'VIERNES/8-11LAB. DE BIOLOGIA EDIF. G'

In [42]:
normalized_data.at[28, 'DAY/TIME/ROOM4'] = 'VIERNES/8-11/LAB. DE BIOLOGIA EDIF. G'
normalized_data.at[28, 'DAY/TIME/ROOM4']

'VIERNES/8-11/LAB. DE BIOLOGIA EDIF. G'

### üí® Fix 44

In [43]:
# üëÄ what is happening?
normalized_data.at[44, 'DAY/TIME/ROOM1']

'MARTES/15-17F2'

In [44]:
normalized_data.at[44, 'DAY/TIME/ROOM1'] = 'MARTES/15-17/F2'
normalized_data.at[44, 'DAY/TIME/ROOM1']

'MARTES/15-17/F2'

### üí® Fix 47

In [45]:
# üëÄ what is happening?
normalized_data.at[47, 'DAY/TIME/ROOM2']

'VIERNES/ 17-19//SALA DE JUNTAS EDIF. B'

In [48]:
normalized_data.at[47, 'DAY/TIME/ROOM2'] = 'VIERNES/17-19/SALA DE JUNTAS EDIF. B'
normalized_data.at[47, 'DAY/TIME/ROOM2']

'VIERNES/17-19/SALA DE JUNTAS EDIF. B'

### üí® Fix 106 and 107

In [52]:
# üëÄ what is happening?
normalized_data.at[106, 'DAY/TIME/ROOM1'] # üëà No hay nada que hacer aqui, es PENDIENTE

'PENDIENTE'

In [53]:
# üëÄ what is happening?
normalized_data.at[107, 'DAY/TIME/ROOM1'] # üëà No hay nada que hacer aqui, es PENDIENTE

'PENDIENTE'

### üí® Fix 145

In [54]:
# üëÄ what is happening?
normalized_data.at[145, 'DAY/TIME/ROOM2']

'MIERCOLES12-14/C2'

In [55]:
normalized_data.at[145, 'DAY/TIME/ROOM2'] = 'MIERCOLES/12-14/C2'
normalized_data.at[145, 'DAY/TIME/ROOM2']

'MIERCOLES/12-14/C2'

### üí® Fix 174

In [56]:
# üëÄ what is happening?
normalized_data.at[174, 'DAY/TIME/ROOM1']

'JUEVES15-18/AUDITORIO DE EDIF. G'

In [57]:
normalized_data.at[174, 'DAY/TIME/ROOM1'] = 'JUEVES/15-18/AUDITORIO DE EDIF. G'
normalized_data.at[174, 'DAY/TIME/ROOM1']

'JUEVES/15-18/AUDITORIO DE EDIF. G'

### üí® Fix 175

In [58]:
# üëÄ what is happening?
normalized_data.at[175, 'DAY/TIME/ROOM1'] # üëà No hay nada que hacer aqui, es PENDIENTE

'PENDIENTE'

In [63]:
# Lets look for errors again in case we didn't fix them all
detect_wrong_dates_in_df(normalized_data, date_columns) # ‚ú® No more date errors

## ü§î 5. Add useful fields
For making things easier in the algorithm part, I need to add some fields, that are already in the table, but in a different way. Example: Separate DAY/TIME/ROOM in a field called DAY, another field called TIME and another field called ROOM.

And, even thought this gonna be akward, I need to add the index (not the index_in_page) for tracking propuses in the database, I am going to add the _ID column

In [80]:
date_column = [column_name for column_name in normalized_data.columns if 'DAY/' in column_name]

for index, column in enumerate(date_column):
    normalized_data[f"DAY{index + 1}"] = list(map(lambda day: day.split('/')[0].strip() if not pd.isna(day) and day  != 'PENDIENTE' and day else np.nan, normalized_data[column].tolist()))
    normalized_data[f"TIME{index + 1}"] = list(map(lambda time: time.split('/')[1].strip() if not pd.isna(time) and time  != 'PENDIENTE' and time else np.nan, normalized_data[column].tolist()))
    normalized_data[f"ROOM{index + 1}"] = list(map(lambda room: room.split('/')[2].strip() if not pd.isna(room) and room  != 'PENDIENTE' and room else np.nan, normalized_data[column].tolist()))

try:
    normalized_data.insert(0, '_ID', range(0, len(normalized_data)))
except:
    pass

normalized_data.head(3)

,_ID,index_in_page,NAME,GROUP,DAY/TIME/ROOM1,DAY/TIME/ROOM2,DAY/TIME/ROOM3,DAY/TIME/ROOM4,PROFESSORS,PROFESSOR1,...,ROOM1,DAY2,TIME2,ROOM2,DAY3,TIME3,ROOM3,DAY4,TIME4,ROOM4
0,0,1,ADMINISTRACION Y MANEJO DE PERSONAL,A,SABADO/9-13/F6,NaN,NaN,NaN,PENDIENTE,PENDIENTE,...,F6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2,ALEMAN I,A,SABADO/8-11/F7,NaN,NaN,NaN,MA. ISABEL DELGADILLO CANO,MA. ISABEL DELGADILLO CANO,...,F7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,3,ALGEBRA LINEAL,A,LUNES/8-10/AUDITORIO EDIF. G,MIERCOLES/8-10/AUDITORIO EDIF. G,NaN,NaN,MIGUEL ANGEL VALLEJO HERNANDEZ,MIGUEL ANGEL VALLEJO HERNANDEZ,...,AUDITORIO EDIF. G,MIERCOLES,8-10,AUDITORIO EDIF. G,NaN,NaN,NaN,NaN,NaN,NaN

In [91]:
# we need to check out if there is any empty cell again
room_cols = ['ROOM1']
empty_rows3 = detect_empty_cells(normalized_data, room_cols)
empty_rows3

[[22, 'ROOM1'], [106, 'ROOM1'], [107, 'ROOM1'], [175, 'ROOM1']]

In [95]:
for row in empty_rows3:
    normalized_data.at[row[0], row[1]] = 'PENDIENTE'
    
empty_rows3 = detect_empty_cells(normalized_data, columns_to_check)

assert not empty_rows2, f"It shouldn't be an empty cell in here üëâ {empty_rows2}!" # If there are empty rows we need to compare with the link http://www.dci.ugto.mx/estudiantes/index.php/mcursos/horarios-licenciatura
# If this empty data comes from the data source (the page or excel file) we cannot do anything to correct it, it is school obligation

## ‚ùå 6. Remove the NAN and replace it with a blank space
For the frontend we will need to remove all the NaN data and just to update them to a '' blank space.

In [96]:
#normalized_data = normalized_data.replace(np.nan, '', regex=True)
#normalized_data.head(3)

## ‚ùå 7. Check the correct data type in each column
We need to be sure that, for example, every professor, name, group and Day field starts with a letter, and every TIME starts and ends with a number.

In [97]:
def check_initial_letter(df, column_name):
    for index, name in enumerate(df[column_name]):
        string_name = str(name)
        print(index, string_name, column_name)
        if not (string_name[0].isalpha() and string_name[-1].isalpha() or string_name[-1].isdigit()):
            return f"The record -> {index} in column -> {column_name} does not start or end with a letter -> {name}"
        
    return False
        
def check_initial_number(df, column_name):
    for index, name in enumerate(df[column_name]):
        string_name = str(name)
        if (string_name and string_name.upper() != 'NAN') and not (string_name[0].isdigit() and string_name[-1].isdigit()):
            return f"The record -> {index} in column -> {column_name} does not start or end with a number -> {name}"
        
    return False

In [98]:
letter_columns = [
    'NAME', 
    'GROUP',
    'DAY/TIME/ROOM1',
    'DAY/TIME/ROOM2',
    'DAY/TIME/ROOM3',
    'DAY/TIME/ROOM4',
    'DAY1',
    'DAY2',
    'DAY3',
    'DAY4',
    'PROFESSORS',
    'PROFESSOR1',
    'PROFESSOR2',
    'PROFESSOR3',
    'PROFESSOR4',
    'ROOM1',
    'ROOM2',
    'ROOM3',
    'ROOM4',
]
number_columns = [
    "_ID",
    "TIME1",
    "TIME2",
    "TIME3",
    "TIME4",
    "index_in_page"
]

ignored_columns= [ # We do not need to check all the data because it is probable we are not going to use all the columns
]

missing = [miss for miss in normalized_data.columns if miss not in letter_columns and miss not in number_columns and miss not in ignored_columns]
# Asserting we are checking all the columns
assert len(letter_columns) + len(number_columns) + len(ignored_columns) == len(normalized_data.columns), f"{len(letter_columns) + len(number_columns)} -> {len(normalized_data.columns)}. \nMissing -> {missing}"

# Check letter data
for column in letter_columns:
    error = check_initial_letter(normalized_data, column)
    if error: print(error)
    
# Check number data
for column in number_columns:
    error = check_initial_number(normalized_data, column)
    if error: print(error)

0 ADMINISTRACION Y MANEJO DE PERSONAL NAME
1 ALEMAN I NAME
2 ALGEBRA LINEAL NAME
3 ALGEBRA LINEAL NAME
4 ALGEBRA LINEAL NAME
5 ALGEBRA LINEAL NAME
6 ALGEBRA LINEAL NAME
7 ANALISIS DE CIRCUITOS NAME
8 ANALISIS DE CIRCUITOS NAME
9 ANALISIS DE LA CULTURA MEXICANA NAME
10 ANALISIS TENSORIAL NAME
11 ANALISIS VECTORIAL NAME
12 ANALISIS VECTORIAL NAME
13 ANALISIS VECTORIAL NAME
14 ANATOMIA Y FISIOLOGIA I NAME
15 ANATOMIA Y FISIOLOGIA II NAME
16 ARQUITECTURA DE MICROCONTROLADORES NAME
17 ASPECTOS BASICOS DEL PROCESO DEL CURTIDO NAME
18 BALANCE DE MATERIA Y ENERGIA NAME
19 BALANCE DE MATERIA Y ENERGIA NAME
20 BASES FISICAS PARA EL DIAGNOSTICO POR IMAGENES NAME
21 BIOESTADISTICA NAME
22 BIOFISICA NAME
23 BIOFISICA MEDICA NAME
24 BIOLOGIA CELULAR NAME
25 BIOLOGIA CELULAR NAME
26 BIOMECANICA NAME
27 BIOMECANICA NAME
28 BIOQUIMICA NAME
29 BIOSEGURIDAD NAME
30 BIOTECNOLOGIA NAME
31 CALCULO DE VARIAS VARIABLES NAME
32 CALCULO DE VARIAS VARIABLES NAME
33 CALCULO DE VARIAS VARIABLES NAME
34 CALCULO DIFERENCIAL NAME
35 CALCULO DIFERENCIAL NAME
36 CALCULO DIFERENCIAL NAME
37 CALCULO DIFERENCIAL NAME
38 CALCULO DIFERENCIAL NAME
39 CALCULO INTEGRAL NAME
40 CALCULO INTEGRAL NAME
41 CALCULO INTEGRAL NAME
42 CALCULO INTEGRAL NAME
43 CALCULO INTEGRAL NAME
44 CALCULO INTEGRAL NAME
45 CALCULO INTEGRAL NAME
46 CINETICA QUIMICA Y CATALISIS NAME
47 COSMOLOGIA NAME
48 DEBATES ETICOS CONTEMPORANEOS Y DERECHOS HUMANOS NAME
49 DESARROLLO HISTORICO DE LA FISICA MODERNA NAME
50 DISENO DE PROCESOS NAME
51 ECUACIONES DIFERENCIALES ORDINARIAS NAME
52 ECUACIONES DIFERENCIALES ORDINARIAS NAME
53 ECUACIONES DIFERENCIALES ORDINARIAS NAME
54 ECUACIONES DIFERENCIALES PARCIALES NAME
55 ELECTRICIDAD Y MAGNETISMO NAME
56 ELECTRICIDAD Y MAGNETISMO NAME
57 ELECTRICIDAD Y MAGNETISMO NAME
58 ELECTRICIDAD Y MAGNETISMO NAME
59 ELECTRICIDAD Y MAGNETISMO NAME
60 ELECTRICIDAD Y MAGNETISMO NAME
61 ELECTRICIDAD Y MAGNETISMO NAME
62 ELECTRICIDAD Y MAGNETISMO NAME
63 ELECTRICIDAD Y MAGNETISMO NAME
64 ELECTRICIDAD Y MAGNETISMO NAME
65 ELECTROMAGNETISMO NAME
66 ELECTROMAGNETISMO NAME
67 ESTRUCTURA DE LA MATERIA NAME
68 EVALUACION DE TECNOLOGIA HOSPITALARIA NAME
69 FENOMENOLOGIA DE LAS PARTICULAS ELEMENTALES NAME
70 FENOMENOS DE TRANSPORTE NAME
71 FISICA CUANTICA NAME
72 FISICA CUANTICA NAME
73 FISICA DE LASERES NAME
74 FISICA GENERAL NAME
75 FISICA GENERAL NAME
76 FISICA GENERAL NAME
77 FISICA RELATIVISTA NAME
78 FISICA RELATIVISTA NAME
79 FLUIDOS, ONDAS Y TEMPERATURA NAME
80 FLUIDOS, ONDAS Y TEMPERATURA NAME
81 FLUIDOS, ONDAS Y TEMPERATURA NAME
82 FLUIDOS, ONDAS Y TEMPERATURA NAME
83 FLUIDOS, ONDAS Y TEMPERATURA NAME
84 FLUIDOS, ONDAS Y TEMPERATURA NAME
85 FLUIDOS, ONDAS Y TEMPERATURA NAME
86 FUNCIONES ESPECIALES NAME
87 FUNDAMENTOS DE PROCESAMIENTO DIGITAL DE IMAGENES NAME
88 FUNDAMENTOS DE PROCESAMIENTO DIGITAL DE SENALES NAME
89 FUNDAMENTOS DE PROCESAMIENTO DIGITAL DE SENALES NAME
90 FUNDAMENTOS FILOSOFICO-EPISTEMOLOGICOS NAME
91 GEOMETRIA AVANZADA NAME
92 HERRAMIENTAS INFORMATICAS Y GESTION DE LA INFORMACION NAME
93 HERRAMIENTAS INFORMATICAS Y GESTION DE LA INFORMACION NAME
94 INGENIERIA AMBIENTAL DE LA ATMOSFERA NAME
95 INGENIERIA CLINICA NAME
96 INGENIERIA DE CALOR NAME
97 INGENIERIA DE CONTROL NAME
98 INGENIERIA DE CONTROL DE PROCESOS NAME
99 INGENIERIA DE FLUIDOS NAME
100 INGENIERIA DE PROYECTOS NAME
101 INGENIERIA DE REACTORES HETEROGENEOS NAME
102 INGENIERIA DE REACTORES HOMOGENEOS NAME
103 INGENIERIA ECONOMICA NAME
104 INGENIERIA EN REHABILITACION NAME
105 INGLES I NAME
106 INGLES I NAME
107 INGLES II NAME
108 INSTRUMENTACION MEDICA NAME
109 INTRODUCCION A LA METODOLOGIA DE LA INVESTIGACION NAME
110 INVESTIGACION DE OPERACIONES NAME
111 LABORATORIO DE ASTRONOMIA NAME
112 LABORATORIO DE FENOMENOS DE TRANSPORTE NAME
113 LABORATORIO DE FENOMENOS DE TRANSPORTE NAME
114 LABORATORIO DE PROCESOS DE SEPARACION NAME
115 LABORATORIO DE PROCESOS DE SEPARACION NAME
116 LABORATORIO DE REACTORES NAME
117 LABORATORIO DE SIMULACION DE PROCESOS NAME
118 MATEMATICAS SUPERIORES NAME
119 MATEMATICAS SUPERIORES NAME
120 MECANICA ANALITICA NAME
121 MECANICA CLASICA NAME
122 MECANICA CLASICA NAME
123 MECANICA CLASICA NAME
124 MECANICA CLASICA NAME
125 MECANICA CLASICA NAME
126 MECANICA CLASICA NAME
127 MECANICA CUANTICA NAME
128 MECANICA CUANTICA NAME
129 MECANICA CUANTICA RELATIVISTA NAME
130 MECANICA DE MEDIOS CONTINUOS NAME
131 MECANICA DE MEDIOS CONTINUOS NAME
132 MECANICA ESTADISTICA NAME
133 MECANICA ESTADISTICA NAME
134 MEDICION E INSTRUMENTACION NAME
135 METODOS NUMERICOS NAME
136 METODOS NUMERICOS NAME
137 METODOS NUMERICOS NAME
138 MODELO ESTANDAR DE LAS PARTICULAS FUNDAMENTALES NAME
139 OPTICA NAME
140 OPTICA NAME
141 OPTICA CUANTICA NAME
142 PROBABILIDAD Y ESTADISTICA NAME
143 PROBABILIDAD Y ESTADISTICA NAME
144 PROBABILIDAD Y ESTADISTICA NAME
145 PROBABILIDAD Y ESTADISTICA NAME
146 PROBLEMAS SOCIALES Y DEBATES CONTEMPORANEOS NAME
147 PROCESAMIENTO DIGITAL DE IMAGENES MEDICAS NAME
148 PROCESOS DE SEPARACION NAME
149 PROGRAMACION BASICA NAME
150 PROGRAMACION BASICA NAME
151 PROGRAMACION BASICA NAME
152 PROGRAMACION ORIENTADA A OBJETOS Y EVENTOS NAME
153 PROGRAMACION ORIENTADA A OBJETOS Y EVENTOS NAME
154 PROGRAMACION ORIENTADA A OBJETOS Y EVENTOS NAME
155 PROGRAMACION ORIENTADA A OBJETOS Y EVENTOS NAME
156 PROPIEDADES FISICOQUIMICAS NAME
157 QUIMICA ANALITICA NAME
158 QUIMICA GENERAL NAME
159 QUIMICA GENERAL NAME
160 QUIMICA GENERAL NAME
161 QUIMICA GENERAL NAME
162 QUIMICA INORGANICA DESCRIPTIVA NAME
163 QUIMICA INORGANICA DESCRIPTIVA NAME
164 QUIMICA ORGANICA AVANZADA NAME
165 QUIMICA ORGANICA AVANZADA NAME
166 QUIMICA ORGANICA BASICA NAME
167 QUIMICA ORGANICA BASICA NAME
168 QUIMICA ORGANICA BASICA NAME
169 QUIMICA ORGANICA BASICA NAME
170 QUIMICA ORGANICA BASICA NAME
171 QUIMICA ORGANICA BASICA NAME
172 QUIMICA ORGANICA BASICA NAME
173 RADIOLOGIA NAME
174 SEGURIDAD E HIGIENE LABORAL NAME
175 SIMULACION MOLECULAR Y QUIMICA COMPUTACIONAL NAME
176 SINTESIS DE POLIMEROS NAME
177 SISTEMAS LINEALES NAME
178 SISTEMAS LINEALES NAME
179 SISTEMAS LINEALES NAME
180 TALLER DE HERRAMIENTAS PARA EL APRENDIZAJE NAME
181 TECNICAS FISICAS PARA DIAGNOSTICO MEDICO Y TERAPIA NAME
182 TEMAS SELECTOS DE INGENIERIA BIOMEDICA NAME
183 TEORIA CLASICA DE CAMPOS NAME
184 TEORIA DE GRUPOS NAME
185 TEORIA DE LA DISPERSION NAME
186 TERMODINAMICA NAME
187 TERMODINAMICA NAME
188 TERMODINAMICA NAME
189 TERMODINAMICA QUIMICA NAME
190 TOPICOS SELECTOS DE ASTRONOMIA NAME
191 VARIABLE COMPLEJA NAME
192 VARIABLE COMPLEJA NAME
193 VARIABLE COMPLEJA NAME
0 A GROUP
1 A GROUP
2 A GROUP
3 B GROUP
4 C GROUP
5 D GROUP
6 E GROUP
7 A GROUP
8 B GROUP
9 A GROUP
10 A GROUP
11 A GROUP
12 B GROUP
13 C GROUP
14 A GROUP
15 A GROUP
16 A GROUP
17 A GROUP
18 A GROUP
19 B GROUP
20 A GROUP
21 A GROUP
22 A GROUP
23 A GROUP
24 A-I GROUP
25 B-II GROUP
26 A-I GROUP
27 A-II GROUP
28 A-I GROUP
29 A GROUP
30 A GROUP
31 A GROUP
32 B GROUP
33 C GROUP
34 A GROUP
35 B GROUP
36 C GROUP
37 D GROUP
38 E GROUP
39 A GROUP
40 B GROUP
41 C GROUP
42 D GROUP
43 E GROUP
44 F GROUP
45 G GROUP
46 A-I GROUP
47 A GROUP
48 A GROUP
49 A GROUP
50 A GROUP
51 A GROUP
52 B GROUP
53 C GROUP
54 A GROUP
55 A-VI GROUP
56 A-VII GROUP
57 B-IX GROUP
58 B-V GROUP
59 C-III GROUP
60 C-IV GROUP
61 D-I GROUP
62 D-II GROUP
63 E-V GROUP
64 E-VIII GROUP
65 A GROUP
66 B GROUP
67 A GROUP
68 A GROUP
69 A GROUP
70 A GROUP
71 A-I GROUP
72 A-II GROUP
73 A GROUP
74 A-II GROUP
75 A-III GROUP
76 B-I GROUP
77 A GROUP
78 B GROUP
79 A-II GROUP
80 B-I GROUP
81 B-III GROUP
82 C-IV GROUP
83 C-VI GROUP
84 D-V GROUP
85 D-VI GROUP
86 A GROUP
87 A GROUP
88 A GROUP
89 B GROUP
90 A GROUP
91 A GROUP
92 A GROUP
93 B GROUP
94 A GROUP
95 A GROUP
96 A GROUP
97 A GROUP
98 A GROUP
99 A GROUP
100 A GROUP
101 A GROUP
102 A GROUP
103 A GROUP
104 A GROUP
105 A GROUP
106 B GROUP
107 A GROUP
108 A GROUP
109 A GROUP
110 A GROUP
111 A GROUP
112 A GROUP
113 B GROUP
114 A GROUP
115 B GROUP
116 A GROUP
117 A GROUP
118 A GROUP
119 B GROUP
120 A GROUP
121 A-I GROUP
122 A-VI GROUP
123 B-II GROUP
124 C-IV GROUP
125 D-III GROUP
126 E-V GROUP
127 A GROUP
128 B GROUP
129 A GROUP
130 A-I GROUP
131 A-II GROUP
132 A GROUP
133 B GROUP
134 A GROUP
135 A GROUP
136 B GROUP
137 C GROUP
138 A GROUP
139 A-I GROUP
140 A-II GROUP
141 A GROUP
142 A GROUP
143 B GROUP
144 C GROUP
145 D GROUP
146 A GROUP
147 A GROUP
148 A GROUP
149 A GROUP
150 B GROUP
151 C GROUP
152 A GROUP
153 B GROUP
154 C GROUP
155 D GROUP
156 A-I GROUP
157 A-I GROUP
158 A-I GROUP
159 B-IV GROUP
160 C-II GROUP
161 C-III GROUP
162 A-I GROUP
163 B-II GROUP
164 A-I GROUP
165 A-II GROUP
166 A-I GROUP
167 A-III GROUP
168 A-V GROUP
169 B-V GROUP
170 B-VI GROUP
171 C-II GROUP
172 C-IV GROUP
173 A GROUP
174 A GROUP
175 A GROUP
176 A GROUP
177 A GROUP
178 B GROUP
179 C GROUP
180 A GROUP
181 A GROUP
182 A GROUP
183 A GROUP
184 A GROUP
185 A GROUP
186 A-I GROUP
187 A-III GROUP
188 B-II GROUP
189 A-I GROUP
190 A GROUP
191 A GROUP
192 B GROUP
193 C GROUP
0 SABADO/9-13/F6 DAY/TIME/ROOM1
1 SABADO/8-11/F7 DAY/TIME/ROOM1
2 LUNES/8-10/AUDITORIO EDIF. G DAY/TIME/ROOM1
3 MARTES/8-10/F1 DAY/TIME/ROOM1
4 MARTES/10-12/F1 DAY/TIME/ROOM1
5 MIERCOLES/12-14/F1 DAY/TIME/ROOM1
6 LUNES/15-17/G1 DAY/TIME/ROOM1
7 MARTES/8-10/LAB. DE ELECTRONICA EDIF. G DAY/TIME/ROOM1
8 LUNES/12-16/LAB. DE ELECTRONICA EDIF.G DAY/TIME/ROOM1
9 LUNES/16-19/AUDITORIO DEL EDIF. G DAY/TIME/ROOM1
10 MARTES/15-17/F8 DAY/TIME/ROOM1
11 LUNES/10-12/F5 DAY/TIME/ROOM1
12 LUNES/10-12/G1 DAY/TIME/ROOM1
13 MARTES/15-17/F6 DAY/TIME/ROOM1
14 LUNES/8-10/C2 DAY/TIME/ROOM1
15 MARTES/8-10/C2 DAY/TIME/ROOM1
16 MARTES/10-14/LAB. DE ELECTRONICA EDIF. G DAY/TIME/ROOM1
17 VIERNES/15-19/LAB. DE CURTIDO DAY/TIME/ROOM1
18 LUNES/12-14/F8 DAY/TIME/ROOM1
19 MIERCOLES/15-17/F6 DAY/TIME/ROOM1
20 MARTES/15-18/C2 DAY/TIME/ROOM1
21 LUNES/8-10/F8 DAY/TIME/ROOM1
22 MARTES/8-10/ DAY/TIME/ROOM1
The record -> 22 in column -> DAY/TIME/ROOM1 does not start or end with a letter -> MARTES/8-10/
0 nan DAY/TIME/ROOM2
1 nan DAY/TIME/ROOM2
2 MIERCOLES/8-10/AUDITORIO EDIF. G DAY/TIME/ROOM2
3 JUEVES/8-10/F1 DAY/TIME/ROOM2
4 JUEVES/10-12/F1 DAY/TIME/ROOM2
5 VIERNES/12-14/F1 DAY/TIME/ROOM2
6 MIERCOLES/15-17/G1 DAY/TIME/ROOM2
7 JUEVES/8-12/LAB. DE ELECTRONICA EDIF. G DAY/TIME/ROOM2
8 MIERCOLES/8-10/LAB. DE ELECTRONICA EDIF. G DAY/TIME/ROOM2
9 nan DAY/TIME/ROOM2
10 JUEVES/15-17/F8 DAY/TIME/ROOM2
11 MIERCOLES/12-14/G1 DAY/TIME/ROOM2
12 JUEVES/10-12/G1 DAY/TIME/ROOM2
13 JUEVES/15-17/F6 DAY/TIME/ROOM2
14 MIERCOLES/8-10/C2 DAY/TIME/ROOM2
15 JUEVES/8-10/C2 DAY/TIME/ROOM2
16 JUEVES/12-14/LAB. DE ELECTRONICA EDIF. G DAY/TIME/ROOM2
17 nan DAY/TIME/ROOM2
18 JUEVES/10-12/F8 DAY/TIME/ROOM2
19 VIERNES/15-17/F7 DAY/TIME/ROOM2
20 VIERNES/12-15/C3 DAY/TIME/ROOM2
21 VIERNES/8-10/F2 DAY/TIME/ROOM2
22 JUEVES/8-10/ DAY/TIME/ROOM2
The record -> 22 in column -> DAY/TIME/ROOM2 does not start or end with a letter -> JUEVES/8-10/
0 nan DAY/TIME/ROOM3
1 nan DAY/TIME/ROOM3
2 nan DAY/TIME/ROOM3
3 nan DAY/TIME/ROOM3
4 nan DAY/TIME/ROOM3
5 nan DAY/TIME/ROOM3
6 nan DAY/TIME/ROOM3
7 nan DAY/TIME/ROOM3
8 nan DAY/TIME/ROOM3
9 nan DAY/TIME/ROOM3
10 nan DAY/TIME/ROOM3
11 nan DAY/TIME/ROOM3
12 nan DAY/TIME/ROOM3
13 nan DAY/TIME/ROOM3
14 nan DAY/TIME/ROOM3
15 nan DAY/TIME/ROOM3
16 nan DAY/TIME/ROOM3
17 nan DAY/TIME/ROOM3
18 nan DAY/TIME/ROOM3
19 nan DAY/TIME/ROOM3
20 nan DAY/TIME/ROOM3
21 nan DAY/TIME/ROOM3
22 nan DAY/TIME/ROOM3
23 nan DAY/TIME/ROOM3
24 JUEVES/15-18/LAB. DE BIOLOGIA EDIF. G DAY/TIME/ROOM3
25 MIERCOLES/12-15/LAB. DE BIOLOGIA, EDIF. G DAY/TIME/ROOM3
26 nan DAY/TIME/ROOM3
27 nan DAY/TIME/ROOM3
28 VIERNES/11-12/F7 DAY/TIME/ROOM3
29 nan DAY/TIME/ROOM3
30 nan DAY/TIME/ROOM3
31 nan DAY/TIME/ROOM3
32 nan DAY/TIME/ROOM3
33 nan DAY/TIME/ROOM3
34 nan DAY/TIME/ROOM3
35 nan DAY/TIME/ROOM3
36 nan DAY/TIME/ROOM3
37 nan DAY/TIME/ROOM3
38 nan DAY/TIME/ROOM3
39 nan DAY/TIME/ROOM3
40 nan DAY/TIME/ROOM3
41 nan DAY/TIME/ROOM3
42 nan DAY/TIME/ROOM3
43 nan DAY/TIME/ROOM3
44 nan DAY/TIME/ROOM3
45 nan DAY/TIME/ROOM3
46 MARTES/8-11/LAB. DE QUIMICA EDIF. G DAY/TIME/ROOM3
47 nan DAY/TIME/ROOM3
48 nan DAY/TIME/ROOM3
49 nan DAY/TIME/ROOM3
50 nan DAY/TIME/ROOM3
51 nan DAY/TIME/ROOM3
52 nan DAY/TIME/ROOM3
53 nan DAY/TIME/ROOM3
54 nan DAY/TIME/ROOM3
55 VIERNES/8-10/LAB. DE FISICA MODERNA,¬† EDIF. G DAY/TIME/ROOM3
56 LUNES/10-12/LAB. DE FISICA MODERNA, EDIF. G DAY/TIME/ROOM3
57 VIERNES/12-14/LAB. DE FISICA MODERNA, EDIF. G DAY/TIME/ROOM3
58 LUNES/12-14/LAB. DE FISICA MODERNA, EDIF. G DAY/TIME/ROOM3
59 MIERCOLES/10-12/LAB. DE FISICA MODERNA, EDIF. G DAY/TIME/ROOM3
60 MARTES/10-12/LAB. DE FISICA MODERNA, EDIF. G DAY/TIME/ROOM3
61 JUEVES/8-10/LAB. DE FISICA MODERNA, EDIF. G DAY/TIME/ROOM3
62 MIERCOLES/12-14/LAB. DE FISICA MODERNA, EDIF. G DAY/TIME/ROOM3
63 LUNES/12-14/LAB. DE FISICA MODERNA, EDIF. G DAY/TIME/ROOM3
64 JUEVES/12-14/LAB. DE FISICA MODERNAL, EDIF. G DAY/TIME/ROOM3
65 nan DAY/TIME/ROOM3
66 nan DAY/TIME/ROOM3
67 nan DAY/TIME/ROOM3
68 nan DAY/TIME/ROOM3
69 nan DAY/TIME/ROOM3
70 nan DAY/TIME/ROOM3
71 JUEVES/14-16/LAB. DE FISICA MODERNA, EDIF. G DAY/TIME/ROOM3
72 MIERCOLES/8-10/LAB DE FISICA MODERNA,¬† EDIF. G DAY/TIME/ROOM3
73 nan DAY/TIME/ROOM3
74 LUNES/10-12/LAB. DE FISICA CLASICA, EDIFICIO C DAY/TIME/ROOM3
75 MIERCOLES/8-10/LAB. DE FISICA CLASICA, EDIFICIO C DAY/TIME/ROOM3
76 MARTES/8-10/LAB. DE FISICA CLASICA, EDIFICIO C DAY/TIME/ROOM3
77 nan DAY/TIME/ROOM3
78 nan DAY/TIME/ROOM3
79 JUEVES/10-12/LAB. DE TERMODINAMICA,¬† EDIF. G DAY/TIME/ROOM3
80 MIERCOLES/8-10/LAB. DE TERMODINAMICA, EDIF. G DAY/TIME/ROOM3
81 LUNES/10-12/LAB. DE TERMODINAMICA, EDIF. G DAY/TIME/ROOM3
82 MARTES/12-14/LAB. DE TERMODINAMICA, EDIF. G DAY/TIME/ROOM3
83 LUNES/8-10/LAB. DE TERMODINAMICA, EDIF. G DAY/TIME/ROOM3
84 JUEVES/12-14/ LAB. DE TERMODINAMICA, EDIF. G DAY/TIME/ROOM3
85 LUNES/8-10/LAB. DE TERMODINAMICA, EDIF. G DAY/TIME/ROOM3
86 nan DAY/TIME/ROOM3
87 nan DAY/TIME/ROOM3
88 nan DAY/TIME/ROOM3
89 nan DAY/TIME/ROOM3
90 nan DAY/TIME/ROOM3
91 nan DAY/TIME/ROOM3
92 nan DAY/TIME/ROOM3
93 nan DAY/TIME/ROOM3
94 nan DAY/TIME/ROOM3
95 VIERNES/17-19/LAB. DE REHABILITACION E INNOVACION HOSPITALARIA, EDIF. F DAY/TIME/ROOM3
96 nan DAY/TIME/ROOM3
97 nan DAY/TIME/ROOM3
98 nan DAY/TIME/ROOM3
99 nan DAY/TIME/ROOM3
100 nan DAY/TIME/ROOM3
101 nan DAY/TIME/ROOM3
102 nan DAY/TIME/ROOM3
103 nan DAY/TIME/ROOM3
104 nan DAY/TIME/ROOM3
105 nan DAY/TIME/ROOM3
106 nan DAY/TIME/ROOM3
107 nan DAY/TIME/ROOM3
108 nan DAY/TIME/ROOM3
109 nan DAY/TIME/ROOM3
110 nan DAY/TIME/ROOM3
111 nan DAY/TIME/ROOM3
112 nan DAY/TIME/ROOM3
113 nan DAY/TIME/ROOM3
114 nan DAY/TIME/ROOM3
115 nan DAY/TIME/ROOM3
116 nan DAY/TIME/ROOM3
117 nan DAY/TIME/ROOM3
118 VIERNES/12-14/AUDITORIO G DAY/TIME/ROOM3
119 JUEVES/8-10/F2 DAY/TIME/ROOM3
120 nan DAY/TIME/ROOM3
121 VIERNES/12-14/LAB. DE FISICA CLASICA, EDIFICIO C DAY/TIME/ROOM3
122 JUEVES/8-10/LAB. DE FISICA CLASICA, EDIFICIO C DAY/TIME/ROOM3
123 MIERCOLES/12-14/LAB. DE FISICA CLASICA, EDIFICIO C DAY/TIME/ROOM3
124 VIERNES/8-10/LAB. DE FISICA CLASICA, EDIFICIO C DAY/TIME/ROOM3
125 VIERNES/10-12/LAB. DE FISICA CLASICA, EDIFICIO C DAY/TIME/ROOM3
126 MARTES/10-12/LAB. DE FISICA CLASICA, EDIFICIO C DAY/TIME/ROOM3
127 nan DAY/TIME/ROOM3
128 nan DAY/TIME/ROOM3
129 nan DAY/TIME/ROOM3
130 MARTES/10-12/LAB. DE TERMODINAMICA, EDIF G DAY/TIME/ROOM3
131 MIERCOLES/10-12/LAB. DE TERMODINAMICA, EDIF. G DAY/TIME/ROOM3
132 nan DAY/TIME/ROOM3
133 nan DAY/TIME/ROOM3
134 nan DAY/TIME/ROOM3
135 VIERNES/10-12/ CENTRO DE COMPUTO 1 DAY/TIME/ROOM3
136 VIERNES/15-17/CENTRO DE COMPUTO 2 DAY/TIME/ROOM3
137 VIERNES/15-17/CENTRO DE COMPUTO 1 DAY/TIME/ROOM3
138 nan DAY/TIME/ROOM3
139 JUEVES/10-12/LAB. DE FISICA MODERNA, EDIF. G DAY/TIME/ROOM3
140 VIERNES /10-12/LAB. DE FISICA MODERNA, EDIF. G DAY/TIME/ROOM3
141 nan DAY/TIME/ROOM3
142 nan DAY/TIME/ROOM3
143 nan DAY/TIME/ROOM3
144 nan DAY/TIME/ROOM3
145 nan DAY/TIME/ROOM3
146 nan DAY/TIME/ROOM3
147 VIERNES/17-19/CENTRO DE COMPUTO 1 DAY/TIME/ROOM3
148 nan DAY/TIME/ROOM3
149 nan DAY/TIME/ROOM3
150 nan DAY/TIME/ROOM3
151 nan DAY/TIME/ROOM3
152 JUEVES/12-14/CENTRO DE COMPUTO 2 DAY/TIME/ROOM3
153 JUEVES/15-17/CENTRO DE COMPUTO 1 DAY/TIME/ROOM3
154 VIERNES/8-10/CENTRO DE COMPUTO 1 DAY/TIME/ROOM3
155 VIERNES/10-12/CENTRO DE COMPUTO 2 DAY/TIME/ROOM3
156 VIERNES/12-14/LAB DE QUIMICA EDIF. G DAY/TIME/ROOM3
157 MARTES/10-13/LAB. DE QUIMICA EDIF. F DAY/TIME/ROOM3
158 LUNES/8-11/LAB. DE QUIMICA EDIF. G DAY/TIME/ROOM3
159 MARTES/11-14/LAB. DE QUIMICA EDIF. G DAY/TIME/ROOM3
160 MIERCOLES/8-11/LAB. DE QUIMICA EDIF. G DAY/TIME/ROOM3
161 MIERCOLES/12-15/LAB. DE QUIMICA EDIF. G DAY/TIME/ROOM3
162 JUEVES/12-15/LAB. DE QUIMICA EDIF. G DAY/TIME/ROOM3
163 LUNES/11-14/LAB. DE QUIMICA EDIF. G DAY/TIME/ROOM3
164 JUEVES/8-11/LAB. DE QUIMICA EDIF. F DAY/TIME/ROOM3
165 MIERCOLES/12-15/LAB. DE QUIMICA EDIF. F DAY/TIME/ROOM3
166 LUNES/8-11/LAB. DE QUIMICA EDIF. F DAY/TIME/ROOM3
167 VIERNES/8-11/LAB. DE QUIMICA EDIF. F DAY/TIME/ROOM3
168 MARTES/13-16/LAB. DE QUIMICA EDIF. F DAY/TIME/ROOM3
169 MARTES/13-16/LAB. DE QUIMICA EDIF. F DAY/TIME/ROOM3
170 VIERNES/12-15/LAB. DE QUIMICA EDIF. F DAY/TIME/ROOM3
171 MIERCOLES/8-11/LAB. DE QUIMICA EDIF. F DAY/TIME/ROOM3
172 LUNES/12-15/LAB. DE QUIMICA EDIF. F DAY/TIME/ROOM3
173 JUEVES/17-19/C2 DAY/TIME/ROOM3
174 nan DAY/TIME/ROOM3
175 nan DAY/TIME/ROOM3
176 nan DAY/TIME/ROOM3
177 nan DAY/TIME/ROOM3
178 nan DAY/TIME/ROOM3
179 nan DAY/TIME/ROOM3
180 nan DAY/TIME/ROOM3
181 nan DAY/TIME/ROOM3
182 nan DAY/TIME/ROOM3
183 nan DAY/TIME/ROOM3
184 nan DAY/TIME/ROOM3
185 nan DAY/TIME/ROOM3
186 MARTES/8-10/LAB. DE TERMODINAMICA, EDIF. G DAY/TIME/ROOM3
187 JUEVES/14-16/LAB. DE TERMODINAMICA, EDIF. G DAY/TIME/ROOM3
188 VIERNES/10-12/LAB. DE QUIMICA, EDIF. G DAY/TIME/ROOM3
189 VIERNES/8-10/LAB. DE QUIMICA EDIFICIO G DAY/TIME/ROOM3
190 nan DAY/TIME/ROOM3
191 nan DAY/TIME/ROOM3
192 nan DAY/TIME/ROOM3
193 nan DAY/TIME/ROOM3
0 nan DAY/TIME/ROOM4
1 nan DAY/TIME/ROOM4
2 nan DAY/TIME/ROOM4
3 nan DAY/TIME/ROOM4
4 nan DAY/TIME/ROOM4
5 nan DAY/TIME/ROOM4
6 nan DAY/TIME/ROOM4
7 nan DAY/TIME/ROOM4
8 nan DAY/TIME/ROOM4
9 nan DAY/TIME/ROOM4
10 nan DAY/TIME/ROOM4
11 nan DAY/TIME/ROOM4
12 nan DAY/TIME/ROOM4
13 nan DAY/TIME/ROOM4
14 nan DAY/TIME/ROOM4
15 nan DAY/TIME/ROOM4
16 nan DAY/TIME/ROOM4
17 nan DAY/TIME/ROOM4
18 nan DAY/TIME/ROOM4
19 nan DAY/TIME/ROOM4
20 nan DAY/TIME/ROOM4
21 nan DAY/TIME/ROOM4
22 nan DAY/TIME/ROOM4
23 nan DAY/TIME/ROOM4
24 nan DAY/TIME/ROOM4
25 nan DAY/TIME/ROOM4
26 nan DAY/TIME/ROOM4
27 nan DAY/TIME/ROOM4
28 VIERNES/8-11/LAB. DE BIOLOGIA EDIF. G DAY/TIME/ROOM4
29 nan DAY/TIME/ROOM4
30 nan DAY/TIME/ROOM4
31 nan DAY/TIME/ROOM4
32 nan DAY/TIME/ROOM4
33 nan DAY/TIME/ROOM4
34 nan DAY/TIME/ROOM4
35 nan DAY/TIME/ROOM4
36 nan DAY/TIME/ROOM4
37 nan DAY/TIME/ROOM4
38 nan DAY/TIME/ROOM4
39 nan DAY/TIME/ROOM4
40 nan DAY/TIME/ROOM4
41 nan DAY/TIME/ROOM4
42 nan DAY/TIME/ROOM4
43 nan DAY/TIME/ROOM4
44 nan DAY/TIME/ROOM4
45 nan DAY/TIME/ROOM4
46 nan DAY/TIME/ROOM4
47 nan DAY/TIME/ROOM4
48 nan DAY/TIME/ROOM4
49 nan DAY/TIME/ROOM4
50 nan DAY/TIME/ROOM4
51 nan DAY/TIME/ROOM4
52 nan DAY/TIME/ROOM4
53 nan DAY/TIME/ROOM4
54 nan DAY/TIME/ROOM4
55 nan DAY/TIME/ROOM4
56 nan DAY/TIME/ROOM4
57 nan DAY/TIME/ROOM4
58 nan DAY/TIME/ROOM4
59 nan DAY/TIME/ROOM4
60 nan DAY/TIME/ROOM4
61 nan DAY/TIME/ROOM4
62 nan DAY/TIME/ROOM4
63 nan DAY/TIME/ROOM4
64 nan DAY/TIME/ROOM4
65 nan DAY/TIME/ROOM4
66 nan DAY/TIME/ROOM4
67 nan DAY/TIME/ROOM4
68 nan DAY/TIME/ROOM4
69 nan DAY/TIME/ROOM4
70 nan DAY/TIME/ROOM4
71 nan DAY/TIME/ROOM4
72 nan DAY/TIME/ROOM4
73 nan DAY/TIME/ROOM4
74 nan DAY/TIME/ROOM4
75 nan DAY/TIME/ROOM4
76 nan DAY/TIME/ROOM4
77 nan DAY/TIME/ROOM4
78 nan DAY/TIME/ROOM4
79 nan DAY/TIME/ROOM4
80 nan DAY/TIME/ROOM4
81 nan DAY/TIME/ROOM4
82 nan DAY/TIME/ROOM4
83 nan DAY/TIME/ROOM4
84 nan DAY/TIME/ROOM4
85 nan DAY/TIME/ROOM4
86 nan DAY/TIME/ROOM4
87 nan DAY/TIME/ROOM4
88 nan DAY/TIME/ROOM4
89 nan DAY/TIME/ROOM4
90 nan DAY/TIME/ROOM4
91 nan DAY/TIME/ROOM4
92 nan DAY/TIME/ROOM4
93 nan DAY/TIME/ROOM4
94 nan DAY/TIME/ROOM4
95 nan DAY/TIME/ROOM4
96 nan DAY/TIME/ROOM4
97 nan DAY/TIME/ROOM4
98 nan DAY/TIME/ROOM4
99 nan DAY/TIME/ROOM4
100 nan DAY/TIME/ROOM4
101 nan DAY/TIME/ROOM4
102 nan DAY/TIME/ROOM4
103 nan DAY/TIME/ROOM4
104 nan DAY/TIME/ROOM4

IndexError: string index out of range

In [99]:
normalized_data.at[104, 'PROFESSORS']

'ARTURO VEGA GONZALEZ/'

In [52]:
# Correct this errors (some of them are not errors just database inconsistent stuff)
normalized_data.at[104, 'PROFESSORS'] = 'ARTURO VEGA GONZALEZ'
normalized_data.at[104, 'PROFESSORS']

'ARTURO VEGA GONZALEZ'

# üì§**Export the Data**
We are done with the data analysis and cleaning, we can now export this file to create the algorithm for create the schedule combinations

In [53]:
# In JSON because that is how the data is going to be loaded from the request to the API
normalized_data.to_json('../data/clean_schedules.json', orient = 'records')
# Lets import in csv because we are going to use airtable and that is the format used there
normalized_data.to_csv('../data/clean_schedules.csv', index = False)

# ü§î What is next?
Now that I have the clean data in a CSV format, this file is going to be used to create (or update) a table in Airtable, which I am going to use in the following steps for creating the algorithm for making the schedule combinations.