# Creating our HH!
## Step 1: Data üóÉÔ∏è!
We are going to split this step into multiple sub-steps üìÑ:
1. ‚õèÔ∏è**Web Scraping**.
3. üêº**Data Transformation**L.
4. üßπ**Data cleansing**.
5. üì§**Export the Data**.
---

# ü§î Pre-coding
Lets define and importa some useful stuff before we start coding

In [1]:
# Important imports
import requests as req # Library for HTTP requests (allows you to send HTTP requests etremely easily): https://pypi.org/project/requests/
from bs4 import BeautifulSoup # Python Library for pulling data out of HTML files (or in this case, web page): https://www.crummy.com/software/BeautifulSoup/bs4/doc/
import pandas as pd # For Data Analysis and Manipulation in Python: https://pandas.pydata.org/
import numpy as np # For matricial and array operations
import unicodedata # For normalizing in function below

In [2]:
# Normalize text function
def normalize_text(word):
    """
    This function takes a string 'word' and normalized
    Example: hElL√≥ w√ìrlD = HELLO WORLD
    """
    word = str(word) # Making sure this is a string
    upper_word = word.upper() # Only upper case letters
    striped_word = upper_word.strip() # No spaces at the beginning or end of the word
    # No accents -> https://docs.python.org/3/library/unicodedata.html#unicodedata.normalize
    normalized_word = ''.join([
        letter for letter in unicodedata.normalize('NFD', striped_word)
        if unicodedata.category(letter) != 'Mn'
    ])

    return normalized_word

# ‚õèÔ∏èWeb Scraping 10/January/2024
Is the process of extracting data from a web page, in this case we are going to use my [college page](http://www.dci.ugto.mx/estudiantes/index.php/mcursos/horarios-licenciatura) ü§ó

In [4]:
# Request to the page function
def request_url(url):
    res = req.get(url)
    if res.status_code not in range(200, 300):
        raise Exception("Something wen wrong", res.tatus_code)
    else:
        print(res.status_code, "- Everythin is fine üî•")
    return res

In [5]:
# Check our request function
url = 'http://www.dci.ugto.mx/estudiantes/index.php/mcursos/horarios-licenciatura'
res = request_url(url)
content = res.content
print(content[:15])

200 - Everythin is fine üî•
b'<!DOCTYPE html>'

In [8]:
# We need a beautiful soup object, not html in a string
soup = BeautifulSoup(content, 'html.parser')
# The schedules are in a table, lets bring it (its in the second one)
all_tables = soup.find_all('table')
schedule_table = all_tables[0] # üëà THIS IS OUR TABLE
#schedule_table

# üêº**Data Transformation**: We need to transform to pandas objects to make the cleaning

In [11]:
# We need to check how many columns are there in http://www.dci.ugto.mx/estudiantes/index.php/mcursos/horarios-licenciatura
# So we need each data component in the first row
column_row = schedule_table.find_all('tr')[0] # 1st row
# Every data component
td_with_column_names = column_row.find_all('td')
# Lets have a look to this column names
for td in td_with_column_names:
    print(td.text.replace('\n', ''), end = " | ")
print()
# I am going to change every column name to a better-shorter-normalized column name
column_names = ['index_in_page', 'NAME', 'GROUP', 'DAY/TIME/ROOM1', 'DAY/TIME/ROOM2', 'DAY/TIME/ROOM3', 'DAY/TIME/ROOM4', 'PROFESSORS'] # üëà THIS IS OUR COLUMN NAMES LIST
for name in column_names:
    print(name, end = ' | ')
    
# Just comparing the number of columns so there is no error
assert len(column_names) == len(td_with_column_names), "Don't have the same lenght! CORRECT IT!"

# | UNIDAD DE APRENDIZAJE¬† | GRUPO | D√çA/HORA/AULA | D√çA/HORA/AULA | D√çA/HORA/AULA | D√çA/HORA/AULA | DOCENTE |
index_in_page | NAME | GROUP | DAY/TIME/ROOM1 | DAY/TIME/ROOM2 | DAY/TIME/ROOM3 | DAY/TIME/ROOM4 | PROFESSORS |

In [12]:
# Now we need to get the actual data IN THE ROWS
all_rows = schedule_table.find_all('tr')
schedules = []
for row in all_rows[1:]: # Starts in 1 because the 0th is the row with the column names
    tds = row.find_all('td') # Need the data of each row
    # We are going to create a dictionary for each row
    d_row = {}
    for index, column in enumerate(column_names):
        d_row[column] = tds[index].text # {column: tds[index]}
        
    # And we need to add it to the schedules list
    schedules.append(d_row)
schedules[23] # üëà OUR SCHEDULES IN A PSEUDO-JSON FORMAT

{'index_in_page': '24',
 'NAME': 'BIOF√çSICA M√âDICA',
 'GROUP': 'A',
 'DAY/TIME/ROOM1': 'MARTES/10-12/C2',
 'DAY/TIME/ROOM2': 'MI√âRCOLES/10-12/C2',
 'DAY/TIME/ROOM3': '\xa0',
 'DAY/TIME/ROOM4': '\xa0',
 'PROFESSORS': 'V√çCTOR HUGO HERN√ÅNDEZ GONZ√ÅLEZ/MODESTO ANTONIO SOSA AQUINO'}

In [14]:
# And now we can create a pandas data frame
raw_schedules_df = pd.DataFrame(schedules, columns = column_names)
# I need to save this file 
raw_schedules_df.to_csv('../data/raw_schedules.csv', index=False)
raw_schedules_df.tail(3)

,index_in_page,NAME,GROUP,DAY/TIME/ROOM1,DAY/TIME/ROOM2,DAY/TIME/ROOM3,DAY/TIME/ROOM4,PROFESSORS
196,197,VARIABLE COMPLEJA,A,LUNES/8-10/F9,MI√âRCOLES/8-10/F9,,,VICENTE SIERRA ROSAS
197,198,VARIABLE COMPLEJA,B,MI√âRCOLES/10-12/G1,VIERNES/12-14/G1,,,OWEN PAVEL FERN√ÅNDEZ PIEDRA
198,199,VARIABLE COMPLEJA,C,MARTES/12-14/C3,MI√âRCOLES/10-12/C3,,,OSCAR MIGUEL SABIDO MORENO

# üßπ**Data cleansing**: Lets clean the data and correct some errors
I am gonna list every error and thing as a sub-title in the following cells

**Note:** There are some times that the school gives me the schedules in an excel, so there is no need to scrap the data from the web page, so here I am going to bring that file

In [16]:
# Reading csv document (This covers the case where school gives me an excel file before they update their page)
raw_schedules_og_df = pd.read_csv('../data/raw_schedules.csv')
raw_schedules_og_df.tail(5)

,index_in_page,NAME,GROUP,DAY/TIME/ROOM1,DAY/TIME/ROOM2,DAY/TIME/ROOM3,DAY/TIME/ROOM4,PROFESSORS
194,195,T√ìPICOS SELECTOS DE ASTRONOM√çA,A,LUNES/14-16/AUDITORIO DEL EDIF. B,MI√âRCOLES/14-16/AUDITORIO DEL EDIF. B,,,OCTAVIO JOS√â OBREG√ìN D√çAZ
195,196,T√ìPICOS SELECTOS DE ASTRONOM√çA,B,LUNES/14-16/C2,MI√âRCOLES/14-16/C2,,,CARSTEN HOLTFORT
196,197,VARIABLE COMPLEJA,A,LUNES/8-10/F9,MI√âRCOLES/8-10/F9,,,VICENTE SIERRA ROSAS
197,198,VARIABLE COMPLEJA,B,MI√âRCOLES/10-12/G1,VIERNES/12-14/G1,,,OWEN PAVEL FERN√ÅNDEZ PIEDRA
198,199,VARIABLE COMPLEJA,C,MARTES/12-14/C3,MI√âRCOLES/10-12/C3,,,OSCAR MIGUEL SABIDO MORENO

In [17]:
# Change the columns again because of the case they give me an excel file, remembering I need always this column names:
# index_in_page | NAME | GROUP | DAY/TIME/ROOM1 | DAY/TIME/ROOM2 | DAY/TIME/ROOM3 | DAY/TIME/ROOM4 | PROFESSORS |    

column_names = [
    "index_in_page", 
    "NAME", 
    "GROUP", 
    "DAY/TIME/ROOM1",
    "DAY/TIME/ROOM2",
    "DAY/TIME/ROOM3",
    "DAY/TIME/ROOM4",
    "PROFESSORS",
]

# Just comparing the number of columns so there is no error
assert len(column_names) == len(raw_schedules_og_df.columns), f"Don't have the same lenght!"

In [18]:
# Create the replace dictionary for the rename function for pandas
column_replace_dict = {og_col: new_col for og_col, new_col in zip(raw_schedules_og_df.columns, column_names)}
# Replace the column names
raw_schedules_df = raw_schedules_og_df.rename(columns = column_replace_dict)
raw_schedules_df.head(10)

,index_in_page,NAME,GROUP,DAY/TIME/ROOM1,DAY/TIME/ROOM2,DAY/TIME/ROOM3,DAY/TIME/ROOM4,PROFESSORS
0,1,ADMINISTRACI√ìN Y MANEJO DE PERSONAL,A,S√ÅBADO/9-12/F6,,,,ALDELMO EMMANUEL REYES PABLO
1,2,ALGEBRA LINEAL,A,LUNES/8-10/AUDITORIO EDIF. G,MI√âRCOLES/8-10/AUDITORIO EDIF. G,,,JOS√â LUIS L√ìPEZ PIC√ìN
2,3,√ÅLGEBRA LINEAL,B,MARTES/8-10/F1,JUEVES/8-10/F1,,,MIGUEL √ÅNGEL VALLEJO HERN√ÅNDEZ
3,4,√ÅLGEBRA LINEAL,C,MARTES/10-12/F1,JUEVES/10-12/F1,,,OCTAVIO JOS√â OBREG√ìN D√çAZ
4,5,√ÅLGEBRA LINEAL,D,MI√âRCOLES/12-14/F1,VIERNES/12-14/F1,,,TEODORO C√ìRDOVA FRAGA
5,6,√ÅLGEBRA LINEAL,E,LUNES/15-17/G1,MI√âRCOLES/15-17/G1,,,ERASTO ORT√çZ RICARDO
6,7,AN√ÅLISIS DE CIRCUITOS,A,MARTES/8-10/LAB. DE ELECTR√ìNICA EDIF. G,JUEVES/8-12/LAB. DE ELECTR√ìNICA EDIF. G,,,CARLOS VILLASE√ëOR MORA
7,8,AN√ÅLISIS DE CIRCUITOS,B,LUNES/12-16/LAB. DE ELECTR√ìNICA EDIF.G,MI√âRCOLES/8-10/LAB. DE ELECTR√ìNICA EDIF. G,,,JOS√â MARCO BALLEZA ORDAZ
8,9,AN√ÅLISIS DE LA CULTURA MEXICANA,A,LUNES/16-19/AUDITORIO DEL EDIF. G,,,,FERNANDO AGUAS √ÅNGEL
9,10,AN√ÅLISIS DE LA CULTURA MEXICANA,B,VIERNES/16-19/F9,,,,FERNANDO AGUAS √ÅNGEL

## ‚ùå 1. Accents and upper letters
We need to normalize every field (we could do this before in the data extract part, but I think is better to separate things correctly)

In [19]:
# Function for normalizing the df with help of our function in ü§î Pre-coding part: "normalize_text"
def normalize_df(column):
    normalized_column = [] # A list for the normalized column
    for cell in column:
        normalized_column.append(normalize_text(cell))

    return normalized_column

In [20]:
normalized_data = raw_schedules_df.apply(normalize_df)
normalized_data.head(10) # üëà OUR DATA NORMALIZED

,index_in_page,NAME,GROUP,DAY/TIME/ROOM1,DAY/TIME/ROOM2,DAY/TIME/ROOM3,DAY/TIME/ROOM4,PROFESSORS
0,1,ADMINISTRACION Y MANEJO DE PERSONAL,A,SABADO/9-12/F6,,,,ALDELMO EMMANUEL REYES PABLO
1,2,ALGEBRA LINEAL,A,LUNES/8-10/AUDITORIO EDIF. G,MIERCOLES/8-10/AUDITORIO EDIF. G,,,JOSE LUIS LOPEZ PICON
2,3,ALGEBRA LINEAL,B,MARTES/8-10/F1,JUEVES/8-10/F1,,,MIGUEL ANGEL VALLEJO HERNANDEZ
3,4,ALGEBRA LINEAL,C,MARTES/10-12/F1,JUEVES/10-12/F1,,,OCTAVIO JOSE OBREGON DIAZ
4,5,ALGEBRA LINEAL,D,MIERCOLES/12-14/F1,VIERNES/12-14/F1,,,TEODORO CORDOVA FRAGA
5,6,ALGEBRA LINEAL,E,LUNES/15-17/G1,MIERCOLES/15-17/G1,,,ERASTO ORTIZ RICARDO
6,7,ANALISIS DE CIRCUITOS,A,MARTES/8-10/LAB. DE ELECTRONICA EDIF. G,JUEVES/8-12/LAB. DE ELECTRONICA EDIF. G,,,CARLOS VILLASENOR MORA
7,8,ANALISIS DE CIRCUITOS,B,LUNES/12-16/LAB. DE ELECTRONICA EDIF.G,MIERCOLES/8-10/LAB. DE ELECTRONICA EDIF. G,,,JOSE MARCO BALLEZA ORDAZ
8,9,ANALISIS DE LA CULTURA MEXICANA,A,LUNES/16-19/AUDITORIO DEL EDIF. G,,,,FERNANDO AGUAS ANGEL
9,10,ANALISIS DE LA CULTURA MEXICANA,B,VIERNES/16-19/F9,,,,FERNANDO AGUAS ANGEL

## ‚ùå 2. Professors Together
There are some subject with more than 1 professor (because of labs or something else), so we need to generate a field for each professor. When this happens, every profressor is separated with a '/' character, so we can use that for creating the new fields

In [21]:
# Grab the professor list
professor_list = normalized_data['PROFESSORS'].to_list()
# Split all this professors in a matrix
professor_matrix = [professor.split('/') for professor in professor_list]
# We need to re-normalize this matrix because it can be there are some not-wanted spaces
for i in range(len(professor_matrix)):
    for j in range(len(professor_matrix[i])):
        professor_matrix[i][j] = normalize_text(professor_matrix[i][j])
# As an example, lets see some multiple professors
professor_matrix[20:22] # One subject with 1 professor and the next one with 3 professors

[['ARTURO GONZALEZ VEGA',
  'TEODORO CORDOVA FRAGA',
  'MODESTO ANTONIO SOSA AQUINO',
  'FRANCISCO MIGUEL VARGAS LUNA'],
 ['TEODORO CORDOVA FRAGA']]

In [22]:
# We need to know how many create so lets calculate it
max_professors = 0
for professors in professor_matrix:
    max_professors = max(len(professors), max_professors)
    
print("The max of professors per subject is:", max_professors)

The max of professors per subject is: 4

In [23]:
# And we need to add the missing columns as blank to professor matrix so its not sparse
for i in range(len(professor_matrix)):
    for missing in range(max_professors - len(professor_matrix[i])):
        professor_matrix[i].append('')
        
professor_matrix[20:22]

[['ARTURO GONZALEZ VEGA',
  'TEODORO CORDOVA FRAGA',
  'MODESTO ANTONIO SOSA AQUINO',
  'FRANCISCO MIGUEL VARGAS LUNA'],
 ['TEODORO CORDOVA FRAGA', '', '', '']]

In [24]:
# So new fields are:
professor_columns = [f"PROFESSOR{index + 1}" for index in range(max_professors)]
professor_columns

['PROFESSOR1', 'PROFESSOR2', 'PROFESSOR3', 'PROFESSOR4']

In [25]:
# Lets create this fields in our df
normalized_data[professor_columns] = professor_matrix

In [26]:
normalized_data[23:26] # Lets check some records in the df # üëà THIS IS OUR CORRECT DF FOR CLEANSING

,index_in_page,NAME,GROUP,DAY/TIME/ROOM1,DAY/TIME/ROOM2,DAY/TIME/ROOM3,DAY/TIME/ROOM4,PROFESSORS,PROFESSOR1,PROFESSOR2,PROFESSOR3,PROFESSOR4
23,24,BIOFISICA MEDICA,A,MARTES/10-12/C2,MIERCOLES/10-12/C2,,,VICTOR HUGO HERNANDEZ GONZALEZ/MODESTO ANTONIO...,VICTOR HUGO HERNANDEZ GONZALEZ,MODESTO ANTONIO SOSA AQUINO,,
24,25,BIOLOGIA CELULAR,A-I,LUNES/10-12/F7,JUEVES/8-9/F9,JUEVES/15-18/LAB. DE BIOLOGIA EDIF. G,,SILVIA ALEJANDRA LOPEZ JUAREZ,SILVIA ALEJANDRA LOPEZ JUAREZ,,,
25,26,BIOLOGIA CELULAR,B-II,MARTES/12-13/F5,JUEVES/12-14/F7,"MIERCOLES/12-15/LAB. DE BIOLOGIA, EDIF. G",,GUSTAVO BASURTO ISLAS,GUSTAVO BASURTO ISLAS,,,

## ‚ùå 3. Empty cells
If there are empty fields (other than DAY/TIME/ROOM fields because empty cells in this fields is normal) then we need to fix it because that means something is wrong with the algorithm

In [27]:
# First of all, lets standard the spaces and blank spaces to np.nan objects
normalized_data = normalized_data.replace(r'^\s*$', np.nan, regex=True)
normalized_data = normalized_data.replace('NAN', np.nan)

In [28]:
normalized_data.head(3) # üëà STILL OUR DF

,index_in_page,NAME,GROUP,DAY/TIME/ROOM1,DAY/TIME/ROOM2,DAY/TIME/ROOM3,DAY/TIME/ROOM4,PROFESSORS,PROFESSOR1,PROFESSOR2,PROFESSOR3,PROFESSOR4
0,1,ADMINISTRACION Y MANEJO DE PERSONAL,A,SABADO/9-12/F6,NaN,NaN,NaN,ALDELMO EMMANUEL REYES PABLO,ALDELMO EMMANUEL REYES PABLO,NaN,NaN,NaN
1,2,ALGEBRA LINEAL,A,LUNES/8-10/AUDITORIO EDIF. G,MIERCOLES/8-10/AUDITORIO EDIF. G,NaN,NaN,JOSE LUIS LOPEZ PICON,JOSE LUIS LOPEZ PICON,NaN,NaN,NaN
2,3,ALGEBRA LINEAL,B,MARTES/8-10/F1,JUEVES/8-10/F1,NaN,NaN,MIGUEL ANGEL VALLEJO HERNANDEZ,MIGUEL ANGEL VALLEJO HERNANDEZ,NaN,NaN,NaN

In [29]:
# Function to detect if there is an empty cell where it should not be.
def detect_empty_cells(df, columns):
    # Save indices in a list üëá
    empty_cells_index = []
    # Loop for know if it is empty
    for index in range(len(df)):
        for column in columns:
            # print(type(df.at[index, column]), df.at[index, column])
            if pd.isna(df.at[index, column]) or df.at[index, column] == 'NAN' or df.at[index, column] == '':
                empty_cells_index.append([index, column])
                
    return empty_cells_index

In [30]:
# Probemos esta funci√≥n
columns_to_check = ['NAME', 'GROUP', 'DAY/TIME/ROOM1', 'PROFESSORS', 'PROFESSOR1'] # We only care if these fields are empty becuase that means something is wrong
empty_rows = detect_empty_cells(normalized_data, columns_to_check)

assert not empty_rows, f"It shouldn't be an empty cell in here üëâ {empty_rows}!" # If there are empty rows we need to compare with the link http://www.dci.ugto.mx/estudiantes/index.php/mcursos/horarios-licenciatura
# If this empty data comes from the data source (the page or excel file) we cannot do anything to correct it, it is school obligation

AssertionError: It shouldn't be an empty cell in here üëâ [[32, 'PROFESSORS'], [32, 'PROFESSOR1'], [96, 'PROFESSORS'], [96, 'PROFESSOR1'], [111, 'PROFESSORS'], [111, 'PROFESSOR1'], [112, 'PROFESSORS'], [112, 'PROFESSOR1']]!

In [31]:
# Only when we are sure all this records are empty because of the page (and not because of our fault) we can correct them put something like "PENDIENTE"
row = 0
while row < len(empty_rows):
    print(empty_rows[row][0] + 1, empty_rows[row][1])
    if empty_rows[row][1] == 'PROFESSORS':
        row += 1
    row += 1

33 PROFESSORS
97 PROFESSORS
112 PROFESSORS
113 PROFESSORS

In [32]:
for row in empty_rows:
    normalized_data.at[row[0], row[1]] = 'PENDIENTE'
    
empty_rows2 = detect_empty_cells(normalized_data, columns_to_check)

assert not empty_rows2, f"It shouldn't be an empty cell in here üëâ {empty_rows2}!" # If there are empty rows we need to compare with the link http://www.dci.ugto.mx/estudiantes/index.php/mcursos/horarios-licenciatura
# If this empty data comes from the data source (the page or excel file) we cannot do anything to correct it, it is school obligation

## ‚ùå 4. Errors in DAY/TIME/ROOM fields
We need to format this field form, I choose:

_day/start_hour-end_hour/room_

por ejemplo:

_LUNES/14-16/F9_

Lunes is Monday in Spanish and F9 is the class room name.
In the following code we are going to fix the schedules that do not comply with the format üëá.

In [33]:
# Function to detect a bad format in dates (date by date)
def detect_wrong_dates(date):
    # We're not checking NAN values
    if date == 'NAN' or pd.isna(date) or date == 'PENDIENTE':
        return False, None
    # Split for each "/" to obtain every DAY/TIME/ROOM
    date_split = date.split('/')

    # With this we can find 2 possible errors
    # 1. The date field does not have 3 "/"
    # 2. That, the start-end time does not have any "-" 

    # Detect the 1st
    if len(date_split) != 3:
        return True, 'Slash'

    # Detect the 2nd
    hours = date_split[1] # Porque queremos checar la hora
    if hours and len(hours.split('-')) != 2:
        return True, 'Hour'
        
        
    return False, None

In [34]:
# The above üëÜ function only works for one date, we need to create a function that runs that üëÜ function for all the df
def detect_wrong_dates_in_df(df, date_columns):
    # Iterating over rows
    for index, row in df.iterrows():
        for column in date_columns:
            detection = detect_wrong_dates(row[column])
            if detection[0]:
                print(f'{detection[1]} Error')
                print(f"Index={index}, #Pag={row['index_in_page']}, Column={column[-1]}")

In [35]:
# Test the function
date_columns = [f'DAY/TIME/ROOM{index+1}' for index in range(4)]
detect_wrong_dates_in_df(normalized_data, date_columns) # üò± Too many errors, there is no option but to fix these by hand ‚úã
print("------------------------------------------------------")

Slash Error
Index=10, #Pag=11, Column=1
Slash Error
Index=19, #Pag=20, Column=2
Slash Error
Index=28, #Pag=29, Column=4
Slash Error
Index=44, #Pag=45, Column=1
Slash Error
Index=48, #Pag=49, Column=2
Slash Error
Index=151, #Pag=152, Column=2
------------------------------------------------------

If we check out the page http://www.dci.ugto.mx/estudiantes/index.php/mcursos/horarios-licenciatura we can see that the errors are human errors and these errors are no predictable at all, so we need to fix these erros by hand ü•∂

### üí® Fix 10

In [36]:
# üëÄ what is happening?
normalized_data.at[10, 'DAY/TIME/ROOM1'] # It doesn't have a slash between the 14 and F2

'MARTES15-17/F8'

In [37]:
# Corrijamos
normalized_data.at[10, 'DAY/TIME/ROOM1'] = 'MARTES/15-17/F8'
normalized_data.at[10, 'DAY/TIME/ROOM1']

'MARTES/15-17/F8'

### üí® Fix 19

In [39]:
# üëÄ what is happening?
normalized_data.at[19, 'DAY/TIME/ROOM2'] # It doesn't have a slash between the 14 and F2

'VIERNES/15-17F7'

In [41]:
# Corrijamos
normalized_data.at[19, 'DAY/TIME/ROOM2'] = 'VIERNES/15-17/F7'
normalized_data.at[19, 'DAY/TIME/ROOM2']

'VIERNES/15-17/F7'

### Fix 28

In [42]:
# üëÄ what is happening?
normalized_data.at[28, 'DAY/TIME/ROOM4'] # It doesn't have a slash between the 14 and F2

'VIERNES/8-11LAB. DE BIOLOGIA EDIF. G'

In [43]:
normalized_data.at[28, 'DAY/TIME/ROOM4'] = 'VIERNES/8-11/LAB. DE BIOLOGIA EDIF. G'
normalized_data.at[28, 'DAY/TIME/ROOM4']

'VIERNES/8-11/LAB. DE BIOLOGIA EDIF. G'

### Fix 44

In [45]:
normalized_data.at[44, 'DAY/TIME/ROOM1']

'MARTES/15-17F2'

In [46]:
normalized_data.at[44, 'DAY/TIME/ROOM1'] = 'MARTES/15-17/F2'
normalized_data.at[44, 'DAY/TIME/ROOM1']

'MARTES/15-17/F2'

### Fix 48

In [49]:
normalized_data.at[48, 'DAY/TIME/ROOM2']

'JUEVES/ 17-19//SALA DE JUNTAS EDIF. B'

In [50]:
normalized_data.at[48, 'DAY/TIME/ROOM2'] = 'JUEVES/17-19/SALA DE JUNTAS EDIF. B'
normalized_data.at[48, 'DAY/TIME/ROOM2']

'JUEVES/17-19/SALA DE JUNTAS EDIF. B'

In [51]:
normalized_data.at[151, 'DAY/TIME/ROOM2']

'MIERCOLES12-14/C2'

In [52]:
normalized_data.at[151, 'DAY/TIME/ROOM2'] = 'MIERCOLES/12-14/C2'
normalized_data.at[151, 'DAY/TIME/ROOM2']

'MIERCOLES/12-14/C2'

In [53]:
# Lets look for errors again in case we didn't fix them all
detect_wrong_dates_in_df(normalized_data, date_columns) # ‚ú® No more date errors

## ü§î 5. Add useful fields
For making things easier in the algorithm part, I need to add some fields, that are already in the table, but in a different way. Example: Separate DAY/TIME/ROOM in a field called DAY, another field called TIME and another field called ROOM.

And, even thought this gonna be akward, I need to add the index (not the index_in_page) for tracking propuses in the database, I am going to add the _ID column

In [54]:
date_column = [column_name for column_name in normalized_data.columns if 'DAY/' in column_name]

for index, column in enumerate(date_column):
    normalized_data[f"DAY{index + 1}"] = list(map(lambda day: day.split('/')[0].strip() if not pd.isna(day) and day  != 'PENDIENTE' and day else np.nan, normalized_data[column].tolist()))
    normalized_data[f"TIME{index + 1}"] = list(map(lambda time: time.split('/')[1].strip() if not pd.isna(time) and time  != 'PENDIENTE' and time else np.nan, normalized_data[column].tolist()))
    normalized_data[f"ROOM{index + 1}"] = list(map(lambda room: room.split('/')[2].strip() if not pd.isna(room) and room  != 'PENDIENTE' and room else np.nan, normalized_data[column].tolist()))

try:
    normalized_data.insert(0, '_ID', range(0, len(normalized_data)))
except:
    pass

normalized_data.head(3)

,_ID,index_in_page,NAME,GROUP,DAY/TIME/ROOM1,DAY/TIME/ROOM2,DAY/TIME/ROOM3,DAY/TIME/ROOM4,PROFESSORS,PROFESSOR1,...,ROOM1,DAY2,TIME2,ROOM2,DAY3,TIME3,ROOM3,DAY4,TIME4,ROOM4
0,0,1,ADMINISTRACION Y MANEJO DE PERSONAL,A,SABADO/9-12/F6,NaN,NaN,NaN,ALDELMO EMMANUEL REYES PABLO,ALDELMO EMMANUEL REYES PABLO,...,F6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2,ALGEBRA LINEAL,A,LUNES/8-10/AUDITORIO EDIF. G,MIERCOLES/8-10/AUDITORIO EDIF. G,NaN,NaN,JOSE LUIS LOPEZ PICON,JOSE LUIS LOPEZ PICON,...,AUDITORIO EDIF. G,MIERCOLES,8-10,AUDITORIO EDIF. G,NaN,NaN,NaN,NaN,NaN,NaN
2,2,3,ALGEBRA LINEAL,B,MARTES/8-10/F1,JUEVES/8-10/F1,NaN,NaN,MIGUEL ANGEL VALLEJO HERNANDEZ,MIGUEL ANGEL VALLEJO HERNANDEZ,...,F1,JUEVES,8-10,F1,NaN,NaN,NaN,NaN,NaN,NaN

In [55]:
# we need to check out if there is any empty cell again
room_cols = ['ROOM1']
empty_rows3 = detect_empty_cells(normalized_data, room_cols)
empty_rows3

[]

In [56]:
for row in empty_rows3:
    normalized_data.at[row[0], row[1]] = 'PENDIENTE'
    
empty_rows3 = detect_empty_cells(normalized_data, columns_to_check)

assert not empty_rows3, f"It shouldn't be an empty cell in here üëâ {empty_rows2}!" # If there are empty rows we need to compare with the link http://www.dci.ugto.mx/estudiantes/index.php/mcursos/horarios-licenciatura
# If this empty data comes from the data source (the page or excel file) we cannot do anything to correct it, it is school obligation

## ‚ùå 6. Remove the NAN and replace it with a blank space
For the frontend we will need to remove all the NaN data and just to update them to a ' ' blank space.

In [57]:
#normalized_data = normalized_data.replace(np.nan, '', regex=True)
#normalized_data.head(3)

## ‚ùå 7. Check the correct data type in each column
We need to be sure that, for example, every professor, name, group and Day field starts with a letter, and every TIME starts and ends with a number.

In [58]:
def check_initial_letter(df, column_name):
    for index, name in enumerate(df[column_name]):
        string_name = str(name).strip()
        # print(index, string_name, column_name)
        if string_name:
            if not (string_name[0].isalpha() and string_name[-1].isalpha() or string_name[-1].isdigit()):
                return f"The record -> {index} in column -> {column_name} does not start or end with a letter -> {name}"
        
    return False
        
def check_initial_number(df, column_name):
    for index, name in enumerate(df[column_name]):
        string_name = str(name).strip()
        if (string_name and string_name.upper() != 'NAN') and not (string_name[0].isdigit() and string_name[-1].isdigit()):
            return f"The record -> {index} in column -> {column_name} does not start or end with a number -> {name}"
        
    return False

In [61]:
letter_columns = [
    'NAME', 
    'GROUP',
    'DAY/TIME/ROOM1',
    'DAY/TIME/ROOM2',
    'DAY/TIME/ROOM3',
    'DAY/TIME/ROOM4',
    'DAY1',
    'DAY2',
    'DAY3',
    'DAY4',
    'PROFESSORS',
    'PROFESSOR1',
    'PROFESSOR2',
    'PROFESSOR3',
    'PROFESSOR4',
    'ROOM1',
    'ROOM2',
    'ROOM3',
    'ROOM4',
]
number_columns = [
    "_ID",
    "TIME1",
    "TIME2",
    "TIME3",
    "TIME4",
    "index_in_page"
]

ignored_columns= [ # We do not need to check all the data because it is probable we are not going to use all the columns
]

missing = [miss for miss in normalized_data.columns if miss not in letter_columns and miss not in number_columns and miss not in ignored_columns]
# Asserting we are checking all the columns
assert len(letter_columns) + len(number_columns) + len(ignored_columns) == len(normalized_data.columns), f"{len(letter_columns) + len(number_columns)} -> {len(normalized_data.columns)}. \nMissing -> {missing}"

# Check letter data
for column in letter_columns:
    error = check_initial_letter(normalized_data, column)
    if error: print(error)
    
# Check number data
for column in number_columns:
    error = check_initial_number(normalized_data, column)
    if error: print(error)

# üì§**Export the Data**
We are done with the data analysis and cleaning, we can now export this file to create the algorithm for create the schedule combinations

In [62]:
# In JSON because that is how the data is going to be loaded from the request to the API
# normalized_data.to_json('../data/clean_schedules.json', orient = 'records')
# Lets import in csv because we are going to use airtable and that is the format used there
normalized_data.to_csv('../data/clean_schedules.csv', index = False)

# ü§î What is next?
Now that I have the clean data in a CSV format, this file is going to be used to create (or update) a table in Airtable, which I am going to use in the following steps for creating the algorithm for making the schedule combinations.

# üëæ Extra
Comparing past data with current data:

In [63]:
past_data = pd.read_csv('../data/past_clean_schedules.csv')
past_data.set_index(['_ID'], inplace = True)
past_data.head(3)

,index_in_page,NAME,GROUP,DAY/TIME/ROOM1,DAY/TIME/ROOM2,DAY/TIME/ROOM3,DAY/TIME/ROOM4,PROFESSORS,PROFESSOR1,PROFESSOR2,...,ROOM1,DAY2,TIME2,ROOM2,DAY3,TIME3,ROOM3,DAY4,TIME4,ROOM4
_ID,,,,,,,,,,,,,,,,,,,,,
0,1,ADMINISTRACION Y MANEJO DE PERSONAL,A,SABADO/9-12/F6,NaN,NaN,NaN,ALDELMO EMMANUEL ISRAEL REYES PABLO,ALDELMO EMMANUEL ISRAEL REYES PABLO,NaN,...,F6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,ALEMAN I,A,SABADO/8-11/F7,NaN,NaN,NaN,MA. ISABEL DELGADILLO CANO,MA. ISABEL DELGADILLO CANO,NaN,...,F7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,ALGEBRA LINEAL,A,LUNES/8-10/AUDITORIO EDIF. G,MIERCOLES/8-10/AUDITORIO EDIF. G,NaN,NaN,MIGUEL ANGEL VALLEJO HERNANDEZ,MIGUEL ANGEL VALLEJO HERNANDEZ,NaN,...,AUDITORIO EDIF. G,MIERCOLES,8-10,AUDITORIO EDIF. G,NaN,NaN,NaN,NaN,NaN,NaN

In [64]:
# The length -> Doesn't have to be equal
print('Past Data Length: ', len(past_data))
print('Current Data Length: ', len(normalized_data))

Past Data Length:  192
Current Data Length:  199

In [65]:
# Compare the professorsand schedule
def get_counters_for_check(data):
    subjects = {subject_name: {'PROFESSORS':set(), 'NUMBER': 0} for subject_name in set(data['NAME'])}
    
    for row in data.iterrows():
        for professor in row[1]['PROFESSORS'].split('/'):
            subjects[row[1]['NAME']]['PROFESSORS'].add(professor)
        subjects[row[1]['NAME']]['NUMBER'] += 1
            
    return subjects

In [66]:
past_subjects = get_counters_for_check(past_data)
current_subjects = get_counters_for_check(normalized_data)
# And lets compare the number of elements per subject for each data set
largest_subjects = past_subjects if len(past_subjects) > len(current_subjects) else current_subjects
largest_subjects_name = 'PAST' if len(past_subjects) > len(current_subjects) else 'CURRENT'
smaller_subjects = past_subjects if len(past_subjects) <= len(current_subjects) else current_subjects
smaller_subjects_name = 'PAST' if len(past_subjects) <= len(current_subjects) else 'CURRENT'

# Este for me dice qu√© materias no est√°n en en el nuevo horario o qu√© materias est√°n extra en el nuevo
for subject in largest_subjects:
    if subject not in smaller_subjects:
        print(f'{subject} not in {smaller_subjects_name}')
    else:
        if largest_subjects[subject]['NUMBER'] != smaller_subjects[subject]['NUMBER']:
            print(f"{subject} has {largest_subjects[subject]['NUMBER']} appearances on {largest_subjects_name} and {smaller_subjects[subject]['NUMBER']} on {smaller_subjects_name}")
# After reviewing the number of discrepancies we can assure everything is fine comparing with the page: http://www.dci.ugto.mx/estudiantes/index.php/mcursos/horarios-licenciatura and our database

PRINCIPIOS DE OPERACION DE EQUIPO MEDICO not in PAST
INGLES II not in PAST
DISENO DE SISTEMAS DIGITALES not in PAST
OPTICA NO-LINEAL not in PAST
INGLES I has 2 appearances on CURRENT and 1 on PAST
METROLOGIA not in PAST
OPERACIONES UNITARIAS DEL PROCESO DEL CURTIDO not in PAST
METODOS DE PREPARACION DE NANOMATERIALES not in PAST
ESTADISTICA AVANZADA not in PAST
CIENCIA DE MATERIALES not in PAST
GEOMETRIA DIFERENCIAL not in PAST
ANALISIS DE LA CULTURA MEXICANA has 2 appearances on CURRENT and 1 on PAST
QUIMICA GENERAL has 5 appearances on CURRENT and 4 on PAST
TOPICOS SELECTOS DE ASTRONOMIA has 2 appearances on CURRENT and 1 on PAST
FLUIDOS, ONDAS Y TEMPERATURA has 8 appearances on CURRENT and 7 on PAST

In [79]:
# Check professors
for subject in largest_subjects:
    if subject in smaller_subjects and largest_subjects[subject]['PROFESSORS'] != smaller_subjects[subject]['PROFESSORS']:
        print(f"Professors changed in {subject}: ")
        print(f"{smaller_subjects_name}: {smaller_subjects[subject]['PROFESSORS']}")
        print(f"{largest_subjects_name}: {largest_subjects[subject]['PROFESSORS']}")
        print('-----------------------------------------------------------------------')

Professors changed in METODOS NUMERICOS:
PAST: {'KARLA ADRIANA ALAMO MARTINEZ', 'HAYDEE HERNANDEZ ARELLANO', 'GUSTAVO GUTIERREZ CANO'}
CURRENT: {'KARLA ADRIANA ALAMO MARTINEZ', 'TEODORO CORDOVA FRAGA', 'FRANCISCO ALARCON OSEGUERA', 'HAYDEE HERNANDEZ ARELLANO'}
-----------------------------------------------------------------------
Professors changed in PROGRAMACION BASICA:
PAST: {'ORLANDO MIGUEL MEDINA CAZARES', 'LUIS CARLOS PADIERNA GARCIA', 'ARTURO VEGA GONZALEZ'}
CURRENT: {'LUIS CARLOS PADIERNA GARCIA', 'ARGELIA BERNAL BAUTISTA', 'ORLANDO MIGUEL MEDINA CAZARES', 'IGNACIO RAUL ROSAS ROMAN', 'ARTURO VEGA GONZALEZ', 'FRANCISCO SASTRE CARMONA'}
-----------------------------------------------------------------------
Professors changed in INVESTIGACION DE OPERACIONES:
PAST: {'HUETZIN AARON PEREZ OLIVAS'}
CURRENT: {'PENDIENTE'}
-----------------------------------------------------------------------
Professors changed in PROPIEDADES FISICOQUIMICAS:
PAST: {'LUIS GERARDO FRAUSTO TORRES'}
CURRENT: {'BIRZABITH MENDOZA NOVELO'}
-----------------------------------------------------------------------
Professors changed in QUIMICA ORGANICA AVANZADA:
PAST: {'JOSE JORGE DELGADO GARCIA'}
CURRENT: {'MARIA DE LOS ANGELES MENDOZA'}
-----------------------------------------------------------------------
Professors changed in INGENIERIA DE CALOR:
PAST: {'JULIO CESAR ARMAS PEREZ'}
CURRENT: {'JOSE DE JESUS IBARRA SANCHEZ'}
-----------------------------------------------------------------------
Professors changed in LABORATORIO DE FENOMENOS DE TRANSPORTE:
PAST: {'JOSE DE JESUS MENDOZA PEDROZA', 'CHRISTIAN FELIPE RODRIGUEZ ROBLES'}
CURRENT: {'PENDIENTE'}
-----------------------------------------------------------------------
Professors changed in TERMODINAMICA:
PAST: {'MIGUEL ANGEL SANDOVAL PUENTES', 'FRANCISCO ALARCON OSEGUERA', 'ARON HERNANDEZ TRINIDAD', 'MARIA ARACELI RUIZ AVALOS'}
CURRENT: {'WILFREDO YUPANQUI CARPIO', 'ERICK SARMIENTO GOMEZ', 'PENDIENTE', 'JAVIER ALEJANDRO SANCHEZ GALLEGOS', 'EDGAR VALENCIA RODRIGUEZ', 'JOSE MIGUEL RAMOS MORENO'}
-----------------------------------------------------------------------
Professors changed in MATEMATICAS SUPERIORES:
PAST: {'MA. ISABEL DELGADILLO CANO', 'OWEN PAVEL FERNANDEZ PIEDRA'}
CURRENT: {'OWEN PAVEL FERNANDEZ PIEDRA', 'PENDIENTE', 'PABLO REYES HERNANDEZ', 'JOSE LUIS LOPEZ PICON', 'JOSE SOCORRO GARCIA DIAZ', 'AZARAEL ADONAY YEBRA PEREZ'}
-----------------------------------------------------------------------
Professors changed in CALCULO DIFERENCIAL:
PAST: {'CARSTEN HOLTFORT', 'MIGUEL ANGEL VALLEJO HERNANDEZ', 'MOISES CYWIAK GARBARCEWIKS', 'LORENA BERENICE VELAZQUEZ IBARRA'}
CURRENT: {'OCTAVIO JOSE OBREGON DIAZ', 'ALEJANDRO GIL-VILLEGAS MONTIEL'}
-----------------------------------------------------------------------
Professors changed in FISICA CUANTICA:
PAST: {'MIGUEL ANGEL HONORATO COLIN', 'JOSE LUIS LUCIO MARTINEZ'}
CURRENT: {'MODESTO ANTONIO SOSA AQUINO', 'JULIAN FELIX VALDEZ'}
-----------------------------------------------------------------------
Professors changed in BALANCE DE MATERIA Y ENERGIA:
PAST: {'JOSE ANTONIO REYES AGUILERA', 'CARLOS EDUARDO MOLINA GUERRERO'}
CURRENT: {'CARLOS EDUARDO MOLINA GUERRERO'}
-----------------------------------------------------------------------
Professors changed in ELECTROMAGNETISMO:
PAST: {'CARLOS ANDRES SAAVEDRA SALAZAR', 'RAMON CASTANEDA PRIEGO'}
CURRENT: {'OSCAR GERARDO LOAIZA BRITO', 'RAMON CASTANEDA PRIEGO'}
-----------------------------------------------------------------------
Professors changed in LABORATORIO DE PROCESOS DE SEPARACION:
PAST: {'PATRICIA MARIA OLMOS MOYA', 'JOSE DE JESUS IBARRA SANCHEZ'}
CURRENT: {'CHRISTIAN FELIPE RODRIGUEZ ROBLES'}
-----------------------------------------------------------------------
Professors changed in ECUACIONES DIFERENCIALES ORDINARIAS:
PAST: {'FRANCISCO MIGUEL VARGAS LUNA', 'LUIS ARTURO URENA LOPEZ'}
CURRENT: {'JOSE TORRES ARENAS', 'MIGUEL ANGEL VALLEJO HERNANDEZ', 'GUSTAVO GUTIERREZ CANO', 'LUIS ARTURO URENA LOPEZ', 'JOSE LUIS LUCIO MARTINEZ'}
-----------------------------------------------------------------------
Professors changed in FLUIDOS, ONDAS Y TEMPERATURA:
PAST: {'GERARDO GUTIERREZ JUAREZ', 'JOSUE ADIN MINGUELA GALLARDO', 'JUAN SAMUEL SEBASTIAN DURAN GOMEZ', 'NATALIA RINCON LONDONO', 'ALEJANDRO GIL-VILLEGAS MONTIEL', 'ANA LAURA BENAVIDES OBREGON', 'GERARDO GUTIERREZ', 'JOSE MIGUEL RAMOS MORENO'}
CURRENT: {'AMERICA NOEMI MORALES ANDA', 'WILFREDO YUPANQUI CARPIO', 'MA. ISABEL DELGADILLO CANO', 'PENDIENTE', 'MIGUEL ANGEL HONORATO COLIN', 'NATALIA RINCON LONDONO', 'JOSE MIGUEL RAMOS MORENO'}
-----------------------------------------------------------------------
Professors changed in TERMODINAMICA QUIMICA:
PAST: {'SUSANA FIGUEROA GERSTENMAIER', 'JULIO CESAR ARMAS PEREZ'}
CURRENT: {'JOSE FERNANDO HERNANDEZ RODRIGUEZ', 'IRAIS AMARANTA QUINTERO ORTEGA'}
-----------------------------------------------------------------------
Professors changed in INGENIERIA DE CONTROL:
PAST: {'EDUARDO MONTES RAMIREZ'}
CURRENT: {'JOSE MARCO BALLEZA ORDAZ'}
-----------------------------------------------------------------------
Professors changed in MECANICA DE MEDIOS CONTINUOS:
PAST: {'MIGUEL ANGEL SANDOVAL PUENTES', 'MANUEL MARTINEZ JIMENEZ'}
CURRENT: {'JOSE JORGE DELGADO GARCIA'}
-----------------------------------------------------------------------
Professors changed in ANALISIS VECTORIAL:
PAST: {'WILFREDO YUPANQUI CARPIO', 'OSCAR LOPEZ AGUAYO', 'OWEN PAVEL FERNANDEZ PIEDRA'}
CURRENT: {'EDGAR VALENCIA RODRIGUEZ', 'OWEN PAVEL FERNANDEZ PIEDRA'}
-----------------------------------------------------------------------
Professors changed in INGENIERIA DE CONTROL DE PROCESOS:
PAST: {'CHRISTIAN FELIPE RODRIGUEZ ROBLES'}
CURRENT: {'JOSE DE JESUS IBARRA SANCHEZ'}
-----------------------------------------------------------------------
Professors changed in QUIMICA ANALITICA:
PAST: {'SVETLANA KASHINA'}
CURRENT: {'JOSE ANTONIO REYES AGUILERA'}
-----------------------------------------------------------------------
Professors changed in MECANICA CLASICA:
PAST: {'MARIO CESAR PEREZ CHAVEZ', 'EDGAR VALENCIA RODRIGUEZ', 'GEMMA ELIZABETH PEREZ CUELLAR', 'PENDIENTE', 'PABLO REYES HERNANDEZ', 'NATALIA RINCON LONDONO', ' EDGAR VALENCIA RODRIGUEZ', 'JOSE DE JESUS BERNAL ALVARADO', 'JOSE ALFREDO SOTO ALVAREZ', 'JOSE SOCORRO GARCIA DIAZ'}
CURRENT: {'PENDIENTE', 'GEORFREY HUMBERTO ISRAEL MAURY CUNA'}
-----------------------------------------------------------------------
Professors changed in CALCULO DE VARIAS VARIABLES:
PAST: {'LUIS ARTURO URENA LOPEZ', 'JULIO CESAR LOPEZ DOMINGUEZ', 'AMERICA NOEMI MORALES ANDA'}
CURRENT: {'CARSTEN HOLTFORT', 'FRANCISCO ALARCON OSEGUERA', 'PENDIENTE', 'LORENA BERENICE VELAZQUEZ IBARRA'}
-----------------------------------------------------------------------
Professors changed in INGENIERIA DE FLUIDOS:
PAST: {'JOSE FERNANDO HERNANDEZ RODRIGUEZ'}
CURRENT: {'JULIO CESAR ARMAS PEREZ'}
-----------------------------------------------------------------------
Professors changed in INGENIERIA DE PROYECTOS:
PAST: {'CARLOS EDUARDO MOLINA GUERRERO'}
CURRENT: {'CHRISTIAN FELIPE RODRIGUEZ ROBLES'}
-----------------------------------------------------------------------
Professors changed in MEDICION E INSTRUMENTACION:
PAST: {'EDUARDO MONTES RAMIREZ'}
CURRENT: {'JOSE MOISES PADILLA MIRANDA', 'PENDIENTE', 'ANGELICA HERNANDEZ RAYAS', 'MARYSOL GARCIA PEREZ', 'GONZALO PAEZ PADILLA'}
-----------------------------------------------------------------------
Professors changed in PROGRAMACION ORIENTADA A OBJETOS Y EVENTOS:
PAST: {'IGNACIO RAUL ROSAS ROMAN', 'JOSE REYES JUAREZ RAMIREZ', 'LUIS CARLOS PADIERNA GARCIA', 'ANGELICA HERNANDEZ RAYAS'}
CURRENT: {'PENDIENTE'}
-----------------------------------------------------------------------
Professors changed in MODELO ESTANDAR DE LAS PARTICULAS FUNDAMENTALES:
PAST: {'MAURO NAPSUCIALE MENDIVIL'}
CURRENT: {'DAVID YVES GHISLAIN DELEPINE'}
-----------------------------------------------------------------------
Professors changed in PROBABILIDAD Y ESTADISTICA:
PAST: {'VICTOR ALFONSO VICENTE BENITEZ', 'MARIA GUADALUPE LEON VERDIN', 'MARIO CESAR PEREZ CHAVEZ'}
CURRENT: {'FRANCISCO MIGUEL VARGAS LUNA', 'MA. GUADALUPE LEON VERDIN'}
-----------------------------------------------------------------------
Professors changed in CINETICA QUIMICA Y CATALISIS:
PAST: {'ANDREA CEJA FERNANDEZ'}
CURRENT: {'PATRICIA MARIA OLMOS MOYA', 'LEONARDO ALVAREZ VALTIERRA'}
-----------------------------------------------------------------------
Professors changed in FISICA GENERAL:
PAST: {' MODESTO ANTONIO SOSA AQUINO', 'ARGELIA BERNAL BAUTISTA', ' JOSE MIGUEL RAMOS MORENO', 'JOSE SOCORRO GARCIA DIAZ', 'FRANCISCO ALARCON OSEGUERA', 'FRANCISCO ALARCON OSEGUERA '}
CURRENT: {'SAGRARIO SANTILLAN FLORES', 'GEMMA ELIZABETH PEREZ CUELLAR', 'JUAN BARRANCO MONARCA', 'ANGELICA HERANDEZ RAYAS', 'PENDIENTE', 'ARON HERNANDEZ TRINIDAD', 'ANGELICA HERNANDEZ RAYAS', 'ALEJANDRO GIL-VILLEGAS MONTIEL', 'JAVIER ALEJANDRO SANCHEZ GALLEGOS', 'MODESTO ANTONIO SOSA AQUINO', 'JOSE ALFREDO SOTO ALVAREZ', 'ETNA DAFNE YANEZ ROLDAN', 'JOSE SOCORRO GARCIA DIAZ'}
-----------------------------------------------------------------------
Professors changed in CALCULO INTEGRAL:
PAST: {'CARSTEN HOLTFORT', 'MODESTO ANTONIO SOSA AQUINO', 'FRANCISCO SASTRE CARMONA', 'ETNA DAFNE YANEZ ROLDAN', 'JOSE SOCORRO GARCIA DIAZ', 'JOHAN MANUEL ZUNIGA COLLAZOS'}
CURRENT: {'CARSTEN HOLTFORT', 'GEORFREY HUMBERTO ISRAEL MAURY CUNA'}
-----------------------------------------------------------------------
Professors changed in BIOLOGIA CELULAR:
PAST: {'SILVIA ALEJANDRA LOPEZ JUAREZ', 'GUSTAVO BASURTO ISLAS'}
CURRENT: {'SILVIA ALEJANDRA LOPEZ JUAREZ', 'GUSTAVO BASURTO ISLAS', 'ANDREA CEJA FERNANDEZ'}
-----------------------------------------------------------------------
Professors changed in MECANICA ANALITICA:
PAST: {'MARCO ANTONIO REYES SANTOS'}
CURRENT: {'OSCAR MIGUEL SABIDO MORENO', 'NANA GERALDINE CABO BIZET'}
-----------------------------------------------------------------------
Professors changed in SEGURIDAD E HIGIENE LABORAL:
PAST: {'EDGAR VAZQUEZ NUNEZ'}
CURRENT: {'PENDIENTE'}
-----------------------------------------------------------------------
Professors changed in DISENO DE PROCESOS:
PAST: {'JOSE DE JESUS IBARRA SANCHEZ'}
CURRENT: {'CHRISTIAN FELIPE RODRIGUEZ ROBLES'}
-----------------------------------------------------------------------
Professors changed in MECANICA ESTADISTICA:
PAST: {'ERICK SARMIENTO GOMEZ', 'RAMON CASTANEDA PRIEGO'}
CURRENT: {'ALEJANDRO GIL-VILLEGAS MONTIEL'}
-----------------------------------------------------------------------
Professors changed in ECUACIONES DIFERENCIALES PARCIALES:
PAST: {'CARLOS ANDRES SAAVEDRA SALAZAR'}
CURRENT: {'OSCAR LOPEZ AGUAYO', 'LUIS ARTURO URENA LOPEZ'}
-----------------------------------------------------------------------
Professors changed in QUIMICA GENERAL:
PAST: {'JOSE JORGE DELGADO GARCIA', ' MA. CONCEPCION GARCIA CASTANEDA', 'ANDREA CEJA FERNANDEZ', 'EDGAR VAZQUEZ NUNEZ', 'SUSANA FIGUEROA GERSTENMAIER', 'MA. CONCEPCION GARCIA CASTANEDA', 'LAURA EDITH CASTELLANO TORRES'}
CURRENT: {'MARIA CONCEPCION GARCIA CASTANEDA', 'CHRISTIAN GOMEZ SOLIS', 'MARIA ARACELI RUIZ AVALOS', 'ARGELIA ROSILLO DE LA TORRRE', 'ANDREA CEJA FERNANDEZ', 'PENDIENTE', 'ARGELIA ROSILLO DE LA TORRE', 'FRANCISCO JAVIER OSORIO PUENTES', 'SUSANA FIGUEROA GERSTENMAIER', 'JOSE FERNANDO HERNANDEZ RODRIGUEZ', 'PATRICIA MARIA OLMOS MOYA', 'FRANCISO JAVIER OSORIO PUENTES', 'LAURA EDITH CASTELLANO TORRES', 'JOSE ANTONIO REYES AGUILERA'}
-----------------------------------------------------------------------
Professors changed in FISICA RELATIVISTA:
PAST: {'OSCAR GERARDO LOAIZA BRITO', 'JOSE LUIS LOPEZ PICON'}
CURRENT: {'JOSE SOCORRO GARCIA DIAZ'}
-----------------------------------------------------------------------
Professors changed in INGENIERIA DE REACTORES HOMOGENEOS:
PAST: {'JOSE DE JESUS IBARRA SANCHEZ'}
CURRENT: {'CARLOS EDUARDO MOLINA GUERRERO'}
-----------------------------------------------------------------------
Professors changed in PROCESOS DE SEPARACION:
PAST: {'PATRICIA MARIA OLMOS MOYA'}
CURRENT: {'JULIO CESAR ARMAS PEREZ'}
-----------------------------------------------------------------------
Professors changed in INGENIERIA CLINICA:
PAST: {'EDGAR GONZALEZ CAMPOS'}
CURRENT: {'JOSE GONZALEZ CRUZ'}
-----------------------------------------------------------------------
Professors changed in ANALISIS DE CIRCUITOS:
PAST: {'CARLOS VILLASENOR MORA', 'JOSE MARCO BALLEZA ORDAZ'}
CURRENT: {'JOSE MARCO BALLEZA ORDAZ', 'GILBERTO ANZUETO SANCHEZ', 'PENDIENTE'}
-----------------------------------------------------------------------
Professors changed in OPTICA:
PAST: {'RIGOBERTO CASTRO BELTRAN'}
CURRENT: {'ERICK SARMIENTO GOMEZ', 'RIGOBERTO CASTRO BELTRAN', 'PENDIENTE'}
-----------------------------------------------------------------------
Professors changed in VARIABLE COMPLEJA:
PAST: {'JOSE TORRES ARENAS', 'GUSTAVO NIZ QUEVEDO', 'OSCAR MIGUEL SABIDO MORENO'}
CURRENT: {'PENDIENTE', 'LENIN FRANCISCO ESCAMILLA HERRERA'}
-----------------------------------------------------------------------
Professors changed in ARQUITECTURA DE MICROCONTROLADORES:
PAST: {'CARLOS VILLASENOR MORA'}
CURRENT: {'JABEL JIMENEZ RUVALCABA', 'EDUARDO MONTES RAMIREZ', 'CARLOS VILLASENOR MORA'}
-----------------------------------------------------------------------
Professors changed in ESTRUCTURA DE LA MATERIA:
PAST: {'LEONARDO ALVAREZ VALTIERRA'}
CURRENT: {'JOSE JORGE DELGADO GARCIA', 'SVETLANA KASHINA'}
-----------------------------------------------------------------------
Professors changed in INGLES I:
PAST: {'DENIA NAVARRO VILLAFANA'}
CURRENT: {'DENIA NAVARRO VILLAFANA', 'PENDIENTE'}
-----------------------------------------------------------------------
Professors changed in BIOQUIMICA:
PAST: {'LAURA EDITH CASTELLANO TORRES'}
CURRENT: {'LAURA EDITH CASTELLANO TORRES', 'ARGELIA ROSILLO DE LA TORRE', 'JOSE JORGE DELGADO GARCIA'}
-----------------------------------------------------------------------
Professors changed in INSTRUMENTACION MEDICA:
PAST: {'SOLANGE IVETTE RIVERA MANRIQUE'}
CURRENT: {'MARYSOL GARCIA PEREZ'}
-----------------------------------------------------------------------
Professors changed in HERRAMIENTAS INFORMATICAS Y GESTION DE LA INFORMACION:
PAST: {'ANABEL RODRIGUEZ RODRIGUEZ', 'EDUARDO PEREZ CARETA'}
CURRENT: {'PENDIENTE'}
-----------------------------------------------------------------------
Professors changed in ALGEBRA LINEAL:
PAST: {'MIGUEL ANGEL VALLEJO HERNANDEZ', 'ERASTO ORTIZ RICARDO', 'TEODORO CORDOVA FRAGA', 'JOSE DE JESUS BERNAL ALVARADO', 'OCTAVIO JOSE OBREGON DIAZ'}
CURRENT: {'JOSE LUIS LOPEZ PICON', 'ERASTO ORTIZ RICARDO'}
-----------------------------------------------------------------------
Professors changed in SINTESIS DE POLIMEROS:
PAST: {'BIRZABITH MENDOZA NOVELO', 'PEDRO ULISES MUNOZ GONZALEZ'}
CURRENT: {'PENDIENTE'}
-----------------------------------------------------------------------
Professors changed in LABORATORIO DE REACTORES:
PAST: {'IRAIS AMARANTA QUINTERO ORTEGA'}
CURRENT: {'ANDREA CEJA FERNANDEZ', 'IRAIS AMARANTA QUINTERO ORTEGA'}
-----------------------------------------------------------------------
Professors changed in MECANICA CUANTICA:
PAST: {'OSCAR GERARDO LOAIZA BRITO', 'JOSE LUIS LUCIO MARTINEZ'}
CURRENT: {'GUSTAVO NIZ QUEVEDO'}
-----------------------------------------------------------------------
Professors changed in QUIMICA INORGANICA DESCRIPTIVA:
PAST: {'JOSE ANTONIO REYES AGUILERA', 'MARIA DE LOS ANGELES MENDOZA'}
CURRENT: {'PENDIENTE'}
-----------------------------------------------------------------------
Professors changed in QUIMICA ORGANICA BASICA:
PAST: {'ESTHELA PAOLA GARCIA TEJADA', 'CHRISTIAN GOMEZ SOLIS', 'BIRZABITH MENDOZA NOVELO', ' ANA LILIA GONZALEZ YEBRA', 'MARIA ARACELI RUIZ AVALOS', 'MARIA DE LOS ANGELES MENDOZA', 'ANDREA CEJA FERNANDEZ', 'ANA LILIA GONZALEZ YEBRA', 'FRANCISCO JAVIER OSORIO PUENTES'}
CURRENT: {'EDGAR VAZQUEZ NUNEZ', 'ANA LILIA GONZALEZ YEBRA', 'MARIA DE LOS ANGELES MENDOZA', 'PENDIENTE'}
-----------------------------------------------------------------------
Professors changed in INTRODUCCION A LA METODOLOGIA DE LA INVESTIGACION:
PAST: {'JOHAN MANUEL ZUNIGA COLLAZOS'}
CURRENT: {'PENDIENTE'}
-----------------------------------------------------------------------
Professors changed in FUNCIONES ESPECIALES:
PAST: {'JOSE LUIS LOPEZ PICON'}
CURRENT: {'PENDIENTE'}
-----------------------------------------------------------------------
Professors changed in INGENIERIA DE REACTORES HETEROGENEOS:
PAST: {'IRAIS AMARANTA QUINTERO ORTEGA'}
CURRENT: {'CHRISTIAN FELIPE RODRIGUEZ ROBLES'}
-----------------------------------------------------------------------
Professors changed in BIOMECANICA:
PAST: {'ARGELIA ROSILLO DE LA TORRE', 'ARTURO VEGA GONZALEZ'}
CURRENT: {'ARTURO VEGA GONZALEZ'}
-----------------------------------------------------------------------
Professors changed in ELECTRICIDAD Y MAGNETISMO:
PAST: {'GERARDO GUTIERREZ JUAREZ', ' GEORFREY HUMBERTO ISRAEL MAURY CUNA', 'ERICK SARMIENTO GOMEZ', 'PENDIENTE', 'GEORFREY HUMBERTO ISRAEL MAURY CUNA', ' JULIAN FELIX VALDEZ', 'JULIAN FELIX VALDEZ', 'JOSE SOCORRO GARCIA DIAZ', ' LENIN FRANCISCO ESCAMILLA HERRERA'}
CURRENT: {'GERARDO GUTIERREZ JUAREZ', 'ARMANDO ANDRES ROQUE ESTRADA', 'TEODORO CORDOVA FRAGA', 'JOSE SOCORRO GARCIA DIAZ', 'ARMANDO ANDRES ROQUE ESTRADA '}
-----------------------------------------------------------------------
Professors changed in SISTEMAS LINEALES:
PAST: {'EDUARDO MONTES RAMIREZ', 'ARTURO GONZALEZ VEGA', 'HUETZIN AARON PEREZ OLIVAS'}
CURRENT: {'ARTURO GONZALEZ VEGA', 'HUETZIN AARON PEREZ OLIVAS'}
-----------------------------------------------------------------------
Professors changed in BIOESTADISTICA:
PAST: {'TEODORO CORDOVA FRAGA'}
CURRENT: {'MA. GUADALUPE LEON VERDIN'}
-----------------------------------------------------------------------